<div id="companyreports" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    timeline
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Company Report</span>
            </div>
            <!-- / APP TITLE -->

            <div fxLayout="row" fxLayoutAlign="end center">
                <!-- REFRESH BUTTON -->
                <button mat-icon-button class="refresh-button" (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <!-- / REFRESH BUTTON -->

                <mat-form-field matTooltip="From Date" class="topbar date" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <input matInput [matDatepicker]="startPicker" placeholder="Start date" [formControl]="startDateControl" [min]="minStartDate" [max]="maxStartDate" (dateChange)="startDateChanged($event)">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker startView="month"></mat-datepicker>
                </mat-form-field>
                <mat-form-field matTooltip="To Date" class="topbar date" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <input matInput [matDatepicker]="endPicker" placeholder="End date" [formControl]="endDateControl" [min]="minEndDate" [max]="maxEndDate" (dateChange)="endDateChanged($event)">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker startView="month"></mat-datepicker>
                </mat-form-field>
            </div>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group>

                    <mat-tab label="Queue">
                        <mat-accordion>
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Summary
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-table class="companyreports-table" #table [dataSource]="dataSourceSummaryQueue" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                                    <ng-container matColumnDef="label1">
                                        <mat-cell *matCellDef="let report">
                                            <p class="text-truncate">{{report.label1}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="value1">
                                        <mat-cell *matCellDef="let report">
                                            <p class="text-truncate">{{report.value1}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="label2">
                                        <mat-cell *matCellDef="let report">
                                            <p class="text-truncate">{{report.label2}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="value2">
                                        <mat-cell *matCellDef="let report">
                                            <p class="text-truncate">{{report.value2}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-row *matRowDef="let report; columns: displayedColumns;" class="companyreport">
                                    </mat-row>
                                </mat-table>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Distribution by Queue
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                                    <div class="widget" fxFlex="100" fxFlex.gt-sm="50">

                                        <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                                            <canvas baseChart chartType="bar" legend="true" [plugins]="chartPlugins" [options]="barChartOptions" [datasets]="barChartData" [labels]="chartQueueLabels">
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="widget" fxFlex="100" fxFlex.gt-sm="50">

                                        <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                                            <canvas baseChart chartType="bar" legend="true" [plugins]="chartPlugins" [options]="barChartOptions" [datasets]="barChartTimeData" [labels]="chartQueueLabels">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>


                                <mat-table class="companyreports-table" #table [dataSource]="dataSourceQueue" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                                    <!-- queueName Column -->
                                    <ng-container matColumnDef="queueName">
                                        <mat-header-cell *matHeaderCellDef>Queue</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.queueName}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- received Column -->
                                    <ng-container matColumnDef="received">
                                        <mat-header-cell *matHeaderCellDef>Received</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.received}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- answered Column -->
                                    <ng-container matColumnDef="answered">
                                        <mat-header-cell *matHeaderCellDef>Answered</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.answered}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- transferred Column -->
                                    <ng-container matColumnDef="transferred">
                                        <mat-header-cell *matHeaderCellDef>Transferred</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.transferred}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- unanswered Column -->
                                    <ng-container matColumnDef="unanswered">
                                        <mat-header-cell *matHeaderCellDef>Unanswered</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.unanswered}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- abandoned Column -->
                                    <ng-container matColumnDef="abandoned">
                                        <mat-header-cell *matHeaderCellDef>Abandoned</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.abandoned}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- averageWaitTime Column -->
                                    <ng-container matColumnDef="averageWaitTime">
                                        <mat-header-cell *matHeaderCellDef>Avg Wait</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.averageWaitTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- averageTalkTime Column -->
                                    <ng-container matColumnDef="averageTalkTime">
                                        <mat-header-cell *matHeaderCellDef>Avg Talk</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.averageTalkTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- maxCallers Column -->
                                    <ng-container matColumnDef="maxCallers">
                                        <mat-header-cell *matHeaderCellDef>Max Callers</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.maxCallers}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- percentAnswered Column -->
                                    <ng-container matColumnDef="percentAnswered">
                                        <mat-header-cell *matHeaderCellDef>Answered %</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.percentAnswered}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- percentUnanswered Column -->
                                    <ng-container matColumnDef="percentUnanswered">
                                        <mat-header-cell *matHeaderCellDef>Unanswered %</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.percentUnanswered}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- percentSLA Column -->
                                    <ng-container matColumnDef="percentSLA">
                                        <mat-header-cell *matHeaderCellDef>SLA %</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.percentSLA}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalTalkTime Column -->
                                    <ng-container matColumnDef="totalTalkTime">
                                        <mat-header-cell *matHeaderCellDef>Talk</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.totalTalkTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedQueueColumns; sticky:true"></mat-header-row>

                                    <mat-row *matRowDef="let queuereport; columns: displayedQueueColumns;" class="companyreport" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                    </mat-row>
                                </mat-table>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Distribution by Queue (Outbound)
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                                    <div class="widget" fxFlex="100" fxFlex.gt-sm="50">

                                        <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                                            <canvas baseChart chartType="bar" legend="true" [plugins]="chartPlugins" [options]="barChartOptions" [datasets]="barChartOutboundData" [labels]="chartQueueLabels">
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="widget" fxFlex="100" fxFlex.gt-sm="50">

                                        <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                                            <canvas baseChart chartType="bar" legend="true" [plugins]="chartPlugins" [options]="barChartOptions" [datasets]="barChartOutboundTimeData" [labels]="chartQueueLabels">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>

                                <mat-table class="companyreports-table" #table [dataSource]="dataSourceQueue" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                                    <!-- queueName Column -->
                                    <ng-container matColumnDef="queueName">
                                        <mat-header-cell *matHeaderCellDef>Queue</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.queueName}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalOutbound Column -->
                                    <ng-container matColumnDef="totalOutbound">
                                        <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.totalOutbound}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- answeredOutbound Column -->
                                    <ng-container matColumnDef="answeredOutbound">
                                        <mat-header-cell *matHeaderCellDef>Answered</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.answeredOutbound}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- unansweredOutbound Column -->
                                    <ng-container matColumnDef="unansweredOutbound">
                                        <mat-header-cell *matHeaderCellDef>Unanswered</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.unansweredOutbound}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalRingOutboundTime Column -->
                                    <ng-container matColumnDef="totalRingOutboundTime">
                                        <mat-header-cell *matHeaderCellDef>Wait</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.totalRingOutboundTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalTalkOutboundTime Column -->
                                    <ng-container matColumnDef="totalTalkOutboundTime">
                                        <mat-header-cell *matHeaderCellDef>Talk</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.totalTalkOutboundTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- averageRingOutboundTime Column -->
                                    <ng-container matColumnDef="averageRingOutboundTime">
                                        <mat-header-cell *matHeaderCellDef>Average Wait</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.averageRingOutboundTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- averageTalkOutboundTime Column -->
                                    <ng-container matColumnDef="averageTalkOutboundTime">
                                        <mat-header-cell *matHeaderCellDef>Average Talk</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.averageTalkOutboundTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- percentAnsweredOutbound Column -->
                                    <ng-container matColumnDef="percentAnsweredOutbound">
                                        <mat-header-cell *matHeaderCellDef>Answered %</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.percentAnsweredOutbound}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- percentUnansweredOutbound Column -->
                                    <ng-container matColumnDef="percentUnansweredOutbound">
                                        <mat-header-cell *matHeaderCellDef>Unanswered %</mat-header-cell>
                                        <mat-cell *matCellDef="let queuereport">
                                            <p class="text-truncate">{{queuereport.percentUnansweredOutbound}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedQueueOutboundColumns; sticky:true"></mat-header-row>

                                    <mat-row *matRowDef="let queuereport; columns: displayedQueueOutboundColumns;" class="companyreport" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                    </mat-row>
                                </mat-table>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-tab>
                    <mat-tab label="Agent">
                        <mat-accordion>
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Summary
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-table class="companyreports-table" #table [dataSource]="dataSourceSummaryAgent" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                                    <ng-container matColumnDef="label1">
                                        <mat-cell *matCellDef="let report">
                                            <p class="text-truncate">{{report.label1}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="value1">
                                        <mat-cell *matCellDef="let report">
                                            <p class="text-truncate">{{report.value1}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="label2">
                                        <mat-cell *matCellDef="let report">
                                            <p class="text-truncate">{{report.label2}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="value2">
                                        <mat-cell *matCellDef="let report">
                                            <p class="text-truncate">{{report.value2}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-row *matRowDef="let report; columns: displayedColumns;" class="companyreport">
                                    </mat-row>
                                </mat-table>

                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Agent Availability
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                                    <div class="widget" fxFlex="100" fxFlex.gt-sm="50">

                                        <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                                            <canvas baseChart chartType="bar" legend="true" [plugins]="chartPlugins" [options]="barChartOptions" [datasets]="barChartAgentSessionData" [labels]="chartAgentLabels">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                                <mat-table class="companyreports-table" #table [dataSource]="dataSourceAgent" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                                    <!-- userName Column -->
                                    <ng-container matColumnDef="userName">
                                        <mat-header-cell *matHeaderCellDef>Agent</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.userName}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- sessions Column -->
                                    <ng-container matColumnDef="sessions">
                                        <mat-header-cell *matHeaderCellDef>Sessions</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.sessions}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalSessionTime Column -->
                                    <ng-container matColumnDef="totalSessionTime">
                                        <mat-header-cell *matHeaderCellDef>Session</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.totalSessionTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- averageSessionTime Column -->
                                    <ng-container matColumnDef="averageSessionTime">
                                        <mat-header-cell *matHeaderCellDef>Avg Session</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.averageSessionTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- joined Column -->
                                    <ng-container matColumnDef="joined">
                                        <mat-header-cell *matHeaderCellDef>Joined</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.joined}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalJoinedTime Column -->
                                    <ng-container matColumnDef="totalJoinedTime">
                                        <mat-header-cell *matHeaderCellDef>Joined</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.totalJoinedTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- percentJoined Column -->
                                    <ng-container matColumnDef="percentJoined">
                                        <mat-header-cell *matHeaderCellDef>Joined %</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.percentJoined}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- pauses Column -->
                                    <ng-container matColumnDef="pauses">
                                        <mat-header-cell *matHeaderCellDef>Pauses</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.pauses}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalPausedTime Column -->
                                    <ng-container matColumnDef="totalPausedTime">
                                        <mat-header-cell *matHeaderCellDef>Paused</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.totalPausedTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- percentPaused Column -->
                                    <ng-container matColumnDef="percentPaused">
                                        <mat-header-cell *matHeaderCellDef>Paused %</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.percentPaused}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalCallTime Column -->
                                    <ng-container matColumnDef="totalCallTime">
                                        <mat-header-cell *matHeaderCellDef>Talk</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.totalCallTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalIdleTime Column -->
                                    <ng-container matColumnDef="totalIdleTime">
                                        <mat-header-cell *matHeaderCellDef>Idle</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.totalIdleTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedAgentColumns; sticky:true"></mat-header-row>

                                    <mat-row *matRowDef="let agentreport; columns: displayedAgentColumns;" class="companyreport" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                    </mat-row>
                                </mat-table>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Queue Calls by Agent
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                                    <div class="widget" fxFlex="100" fxFlex.gt-sm="50">

                                        <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                                            <canvas baseChart chartType="bar" legend="true" [plugins]="chartPlugins" [options]="barChartOptions" [datasets]="barChartAgentData" [labels]="chartAgentLabels">
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="widget" fxFlex="100" fxFlex.gt-sm="50">

                                        <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                                            <canvas baseChart chartType="bar" legend="true" [plugins]="chartPlugins" [options]="barChartOptions" [datasets]="barChartTimeAgentData" [labels]="chartAgentLabels">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                                <mat-table class="companyreports-table" #table [dataSource]="dataSourceAgent" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                                    <!-- userName Column -->
                                    <ng-container matColumnDef="userName">
                                        <mat-header-cell *matHeaderCellDef>Agent</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.userName}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalQueueCalls Column -->
                                    <ng-container matColumnDef="totalQueueCalls">
                                        <mat-header-cell *matHeaderCellDef>Calls</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.totalQueueCalls}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalQueueCallsInbound Column -->
                                    <ng-container matColumnDef="totalQueueCallsInbound">
                                        <mat-header-cell *matHeaderCellDef>Inbound</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.totalQueueCallsInbound}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalQueueCallsOutbound Column -->
                                    <ng-container matColumnDef="totalQueueCallsOutbound">
                                        <mat-header-cell *matHeaderCellDef>Outbound</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.totalQueueCallsOutbound}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalQueueCallsAnswered Column -->
                                    <ng-container matColumnDef="totalQueueCallsAnswered">
                                        <mat-header-cell *matHeaderCellDef>Answered</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.totalQueueCallsAnswered}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalQueueCallsUnanswered Column -->
                                    <ng-container matColumnDef="totalQueueCallsUnanswered">
                                        <mat-header-cell *matHeaderCellDef>Unanswered</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.totalQueueCallsUnanswered}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalQueueCallRingTime Column -->
                                    <ng-container matColumnDef="totalQueueCallRingTime">
                                        <mat-header-cell *matHeaderCellDef>Wait</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.totalQueueCallRingTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- totalQueueCallTalkTime Column -->
                                    <ng-container matColumnDef="totalQueueCallTalkTime">
                                        <mat-header-cell *matHeaderCellDef>Talk</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.totalQueueCallTalkTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- averageHandleTime Column -->
                                    <ng-container matColumnDef="averageHandleTime">
                                        <mat-header-cell *matHeaderCellDef>AHT</mat-header-cell>
                                        <mat-cell *matCellDef="let agentreport">
                                            <p class="text-truncate">{{agentreport.averageHandleTime}}</p>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedAgentCallColumns; sticky:true"></mat-header-row>

                                    <mat-row *matRowDef="let agentreport; columns: displayedAgentCallColumns;" class="companyreport" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                    </mat-row>
                                </mat-table>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
