<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="changePasswordForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Old Password</mat-label>
                    <input #oldPassword name="oldPassword" formControlName="oldPassword" matInput required type="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="f.oldPassword.errors?.required">
                        Password is required!
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>New Password</mat-label>
                    <input #newPassword name="newPassword" formControlName="newPassword" matInput required type="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-hint align="end">{{newPassword.value.length}}/8</mat-hint>
                    <mat-error *ngIf="f.newPassword.errors?.required">
                        Password is required!
                    </mat-error>
                    <mat-error *ngIf="f.newPassword.errors?.minlength">
                        Password length must be atleast 8!
                    </mat-error>
                    <mat-error *ngIf="f.newPassword.errors?.mustNotMatch">
                        Cant match with old password!
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Confirm Password</mat-label>
                    <input #confirmPassword name="confirmPassword" formControlName="confirmPassword" matInput required type="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="f.confirmPassword.errors?.required">
                        Password is required!
                    </mat-error>
                    <mat-error *ngIf="f.confirmPassword.errors?.mustMatch">
                        Password does not match!
                    </mat-error>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-button class="save-button" (click)="matDialogRef.close(changePasswordForm)" [disabled]="changePasswordForm.invalid" aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
