<div id="profile" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
            <img ngxGravatar [email]="currentAccountEmail" size="105" fallback="mm" class="profile-image avatar huge" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{currentAccountName}}
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">

            <button *ngIf="!user.emailConfirmed" mat-raised-button matTooltip="Click to confirm email" color="accent" aria-label="Confirm Email" (click)="confirmEmail()">Confirm Email</button>

            <button mat-raised-button matTooltip="Click to change your password" color="primary" aria-label="Change Password" (click)="changePassword()">Change Password</button>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <!-- CENTER -->
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content">

                <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

                    <form [formGroup]="userForm">

                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Email</mat-label>
                                <mat-icon matSuffix class="secondary-text">email</mat-icon>
                                <input name="email" formControlName="email" matInput required type="email">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Role</mat-label>
                                <mat-select placeholder="User Role" formControlName="userRole" [(value)]="user.userRole" required>
                                    <mat-option *ngFor="let userRole of (userRoles | keys)" [value]="userRole.key">
                                        {{userRole.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>First Name</mat-label>
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <input name="firstName" formControlName="firstName" matInput required>
                                <mat-error>First Name is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                <mat-label>Last Name</mat-label>
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <input name="lastName" formControlName="lastName" matInput>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <mat-form-field appearance="outline" class="w-100-p" fxFlex>
                                <mat-label>Time Zone</mat-label>
                                <mat-select placeholder="Time Zone" formControlName="zoneId" [(value)]="user.zoneId" required>
                                    <mat-option *ngFor="let zoneId of (timeZones | keys)" [value]="zoneId.key">
                                        {{zoneId.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </form>

                </div>

                <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

                    <button mat-button class="save-button" (click)="editProfile(userForm)" [disabled]="userForm.invalid" aria-label="SAVE">
                        SAVE
                    </button>

                    <button mat-button class="mr-8" aria-label="Cancel" matTooltip="Cancel" routerLink="/apps/dashboard">
                        CANCEL
                    </button>

                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT-->
</div>
