<div id="phonenumber" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/settings/phonenumbers'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{phoneNumber.number}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Phone Number
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Phone Number Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="add-phonenumber-button mat-button" [disabled]="phoneNumberForm.invalid" *ngIf="pageType ==='new'" (click)="addPhoneNumber()">
                <mat-icon>add</mat-icon>
            </button>

            <div *ngIf="pageType ==='edit'">
                <button mat-raised-button class="save-phonenumber-button mat-button" color="primary" [disabled]="phoneNumberForm.invalid || phoneNumberForm.pristine" (click)="savePhoneNumber()">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-raised-button class="extension-button mat-button" matTooltip="Extension Settings" aria-label="Extension Settings" [routerLink]="'/settings/extensions/'+phoneNumber.extensionId">
                    <mat-icon>extension</mat-icon>
                </button>

                <button mat-raised-button class="delete-phonenumber-button mat-button" color="warn" *ngIf="isSuperAdmin" (click)="deletePhoneNumber()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <div class="tab-content p-24" fusePerfectScrollbar>

                    <form name="phoneNumberForm" [formGroup]="phoneNumberForm" class="phonenumber w-100-p" fxLayout="column" fxFlex>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="Phone Number" name="number" formControlName="number" required>
                            <mat-error *ngIf="f.number.errors?.required">
                                Number is required!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" fxFlex>
                            <mat-label>Password</mat-label>
                            <input #password name="password" formControlName="password" matInput required type="password">
                            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                            <mat-hint align="end">{{password.value.length}}/8</mat-hint>
                            <mat-error *ngIf="f.password.errors?.required">
                                Password is required!
                            </mat-error>
                            <mat-error *ngIf="f.password.errors?.minlength">
                                Password length must be atleast 8!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <mat-label>Provider</mat-label>
                            <mat-select placeholder="Provider" *ngIf="isSuperAdmin" formControlName="providerId" [(value)]="phoneNumber.providerId" required>
                                <mat-option *ngFor="let provider of providers" [value]="provider.id">
                                    {{provider.providerId}}
                                </mat-option>
                            </mat-select>
                            <input matInput *ngIf="!isSuperAdmin" placeholder="Company" name="companyName" formControlName="companyName">
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <mat-label>Company</mat-label>
                            <mat-select placeholder="Company" *ngIf="isSuperAdmin" (selectionChange)="getExtensions($event)" formControlName="companyId" [(value)]="phoneNumber.companyId" required>
                                <mat-option *ngFor="let company of companies" [value]="company.id">
                                    {{company.companyName}}
                                </mat-option>
                            </mat-select>
                            <input matInput *ngIf="!isSuperAdmin" placeholder="Company" name="companyName" formControlName="companyName" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <mat-label>Extension</mat-label>
                            <mat-select placeholder="Extension" formControlName="extensionId" [(value)]="phoneNumber.extensionId">
                                <mat-option>Select an extension</mat-option>
                                <mat-option *ngFor="let extension of extensions" [value]="extension.id">
                                    {{extension.baseExtension}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </form>
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
