<div id="phone" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/settings/phones'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{phone.phoneName}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Phone
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Phone Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="add-phone-button mat-button" [disabled]="phoneForm.invalid" *ngIf="pageType ==='new'" (click)="addPhone()">
                <mat-icon>add</mat-icon>
            </button>

            <div *ngIf="pageType ==='edit'">
                <button mat-raised-button class="save-phone-button mat-button" color="primary" [disabled]="phoneForm.invalid || phoneForm.pristine" (click)="savePhone()">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-raised-button class="phone-lines-button mat-button" matTooltip="Phone Lines" aria-label="Phone Lines" [routerLink]="'/settings/phones/'+phone.id+'/lines/'">
                    <mat-icon>list</mat-icon>
                </button>

                <button mat-raised-button class="delete-phone-button mat-button" color="warn" *ngIf="isSuperAdmin" (click)="deletePhone()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <div class="tab-content p-24" fusePerfectScrollbar>

                    <form name="phoneForm" [formGroup]="phoneForm" class="phone w-100-p" fxLayout="column" fxFlex>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <mat-label>Company</mat-label>
                            <mat-select placeholder="Company" *ngIf="isSuperAdmin" formControlName="companyId" [(value)]="phone.companyId" required>
                                <mat-option *ngFor="let company of companies" [value]="company.id">
                                    {{company.companyName}}
                                </mat-option>
                            </mat-select>
                            <input matInput *ngIf="!isSuperAdmin" placeholder="Company" name="companyName" formControlName="companyName" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Phone Name</mat-label>
                            <input matInput placeholder="Phone Name" name="phoneName" formControlName="phoneName" required>
                            <mat-error *ngIf="f.phoneName.errors?.required">
                                Phone Name is required!
                            </mat-error>
                        </mat-form-field>

                    </form>
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
