<div id="queuereports" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    timeline
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Queue Report</span>
            </div>
            <!-- / APP TITLE -->

            <div fxLayout="row" fxLayoutAlign="end center">
                <!-- REFRESH BUTTON -->
                <button *ngIf="isQueueSelected()" mat-icon-button class="refresh-button" (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <!-- / REFRESH BUTTON -->
                <mat-form-field class="topbar queue" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <mat-label>Queue</mat-label>
                    <mat-select placeholder="Queue" [(value)]="selectedQueue" (selectionChange)="refresh()">
                        <mat-option *ngFor="let queue of queues" [value]="queue.id">
                            {{queue.queueName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field matTooltip="From Date" class="topbar date" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <input matInput [matDatepicker]="startPicker" placeholder="Start date" [formControl]="startDateControl" [min]="minStartDate" [max]="maxStartDate" (dateChange)="startDateChanged($event)">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker startView="month"></mat-datepicker>
                </mat-form-field>
                <mat-form-field matTooltip="To Date" class="topbar date" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <input matInput [matDatepicker]="endPicker" placeholder="End date" [formControl]="endDateControl" [min]="minEndDate" [max]="maxEndDate" (dateChange)="endDateChanged($event)">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker startView="month"></mat-datepicker>
                </mat-form-field>
            </div>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group>

                    <mat-tab label="Summary">

                        <mat-table class="queuereports-table" #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                            <ng-container matColumnDef="label1">
                                <mat-cell *matCellDef="let report">
                                    <p class="text-truncate">{{report.label1}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="value1">
                                <mat-cell *matCellDef="let report">
                                    <p class="text-truncate">{{report.value1}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="label2">
                                <mat-cell *matCellDef="let report">
                                    <p class="text-truncate">{{report.label2}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="value2">
                                <mat-cell *matCellDef="let report">
                                    <p class="text-truncate">{{report.value2}}</p>
                                </mat-cell>
                            </ng-container>

                            <mat-row *matRowDef="let report; columns: displayedColumns;" class="queuereport">
                            </mat-row>
                        </mat-table>
                    </mat-tab>

                    <mat-tab label="Inbound">

                        <mat-table class="queuereports-table" #table [dataSource]="dataSourceInbound" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                            <ng-container matColumnDef="label1">
                                <mat-cell *matCellDef="let report">
                                    <p class="text-truncate">{{report.label1}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="value1">
                                <mat-cell *matCellDef="let report">
                                    <p class="text-truncate">{{report.value1}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="label2">
                                <mat-cell *matCellDef="let report">
                                    <p class="text-truncate">{{report.label2}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="value2">
                                <mat-cell *matCellDef="let report">
                                    <p class="text-truncate">{{report.value2}}</p>
                                </mat-cell>
                            </ng-container>

                            <mat-row *matRowDef="let report; columns: displayedColumns;" class="queuereport">
                            </mat-row>
                        </mat-table>
                    </mat-tab>

                    <mat-tab label="Outbound">

                        <mat-table class="queuereports-table" #table [dataSource]="dataSourceOutbound" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                            <ng-container matColumnDef="label1">
                                <mat-cell *matCellDef="let report">
                                    <p class="text-truncate">{{report.label1}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="value1">
                                <mat-cell *matCellDef="let report">
                                    <p class="text-truncate">{{report.value1}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="label2">
                                <mat-cell *matCellDef="let report">
                                    <p class="text-truncate">{{report.label2}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="value2">
                                <mat-cell *matCellDef="let report">
                                    <p class="text-truncate">{{report.value2}}</p>
                                </mat-cell>
                            </ng-container>

                            <mat-row *matRowDef="let report; columns: displayedColumns;" class="queuereport">
                            </mat-row>
                        </mat-table>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
