<div id="companies" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    business
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Companies</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a company">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'/settings/companies/new'" class="add-company-button fuse-white mt-24 mt-md-0">
                <mat-icon>add</mat-icon>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="companies-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let company">
                        <p class="text-truncate">{{company.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Company Id Column -->
                <ng-container matColumnDef="companyId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
                    <mat-cell *matCellDef="let company">
                        <p class="text-truncate">{{company.companyId}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="companyName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let company">
                        <p class="text-truncate">{{company.companyName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let company">
                        <p class="text-truncate">{{company.email}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Phone Column -->
                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
                    <mat-cell *matCellDef="let company">
                        <p class="text-truncate">{{company.phone}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Enabled Column -->
                <ng-container matColumnDef="enabled">
                    <mat-header-cell *matHeaderCellDef>Enabled</mat-header-cell>
                    <mat-cell *matCellDef="let company" fxHide fxShow.gt-xs>
                        <div *ngIf="company.enabled">
                            <fa-icon icon="thumbs-up" size="2x"></fa-icon>
                        </div>
                        <div *ngIf="!company.enabled">
                            <fa-icon icon="thumbs-down" size="2x"></fa-icon>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let company; columns: displayedColumns;" class="company" matRipple [routerLink]="'/settings/companies/'+company.id" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
