#autoattendant {
    .header {

        .subtitle {
            margin: 6px 0 0;
        }

        .mat-button {
            margin: 5px;
        }
    }

    .content {
        .mat-tab-body-wrapper,
        .mat-tab-group,
        .tab-content {
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .mat-checkbox {
            display: flex;
            position: relative;
            align-content: center;
            align-items: center;
            height: 30px;
            top: 0;
            margin-bottom: 10px;
        }

        .mat-button {
            top: 0;
            margin: 5px;
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }
}
