<div id="autoattendant" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/settings/autoattendants'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{autoAttendant.autoAttendantName}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Auto Attendant
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Auto Attendant Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="add-autoattendant-button mat-button" [disabled]="autoAttendantForm.invalid" *ngIf="pageType ==='new'" (click)="addAutoAttendant()">
                <mat-icon>add</mat-icon>
            </button>

            <div *ngIf="pageType ==='edit'" fxLayout="row">

                <button mat-raised-button class="save-autoattendant-button mat-button" color="primary" [disabled]="autoAttendantForm.invalid || autoAttendantForm.pristine" (click)="saveAutoAttendant()">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-raised-button class="extension-button mat-button" matTooltip="Extension Settings" aria-label="Extension Settings" [routerLink]="'/settings/extensions/'+autoAttendant.extensionId">
                    <mat-icon>extension</mat-icon>
                </button>

                <button mat-raised-button class="delete-autoattendant-button mat-button" color="warn" *ngIf="isSuperAdmin" (click)="deleteAutoAttendant()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="autoAttendantForm" [formGroup]="autoAttendantForm" class="autoattendant w-100-p">

                    <mat-tab-group>
                        <mat-tab label="Basic Info">
                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column" fxFlex>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Auto Attendant Id</mat-label>
                                    <input matInput placeholder="Auto Attendant Id" name="autoAttendantId" formControlName="autoAttendantId" required>
                                    <mat-error *ngIf="f.autoAttendantId.errors?.required">
                                        Auto Attendant Id is required!
                                    </mat-error>
                                    <mat-error *ngIf="f.autoAttendantId.errors?.minLength">
                                        Auto Attendant Id minimum length 3!
                                    </mat-error>
                                    <mat-error *ngIf="f.autoAttendantId.errors?.pattern">
                                        Auto Attendant Id pattern is wrong!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Auto Attendant Name</mat-label>
                                    <input matInput placeholder="Auto Attendant Name" name="autoAttendantName" formControlName="autoAttendantName" required>
                                    <mat-error *ngIf="f.autoAttendantName.errors?.required">
                                        Auto Attendant Name is required!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                                    <mat-label>Company</mat-label>
                                    <mat-select placeholder="Company" *ngIf="isSuperAdmin" (selectionChange)="getExtensions($event)" formControlName="companyId" [(value)]="autoAttendant.companyId" required>
                                        <mat-option *ngFor="let company of companies" [value]="company.id">
                                            {{company.companyName}}
                                        </mat-option>
                                    </mat-select>
                                    <input matInput *ngIf="!isSuperAdmin" placeholder="Company" name="companyName" formControlName="companyName" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                                    <mat-label>Extension</mat-label>
                                    <mat-select placeholder="Extension" formControlName="extensionId" [(value)]="autoAttendant.extensionId">
                                        <mat-option>Select an extension</mat-option>
                                        <mat-option *ngFor="let extension of extensions" [value]="extension.id">
                                            {{extension.baseExtension}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </mat-tab>

                        <mat-tab label="Options">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div formGroupName="optionsMap" fxLayout="column" fxLayoutAlign="start start">
                                    <div fxLayout="row" fxLayoutAlign="start start">
                                        <mat-form-field appearance="outline" floatLabel="always" class="pl-4" fxFlex>
                                            <mat-label>1</mat-label>
                                            <input matInput placeholder="Extension" formControlName="1">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="pl-4" fxFlex>
                                            <mat-label>2</mat-label>
                                            <input matInput placeholder="Extension" formControlName="2">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="pl-4" fxFlex>
                                            <mat-label>3</mat-label>
                                            <input matInput placeholder="Extension" formControlName="3">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start start">
                                        <mat-form-field appearance="outline" floatLabel="always" class="pl-4" fxFlex>
                                            <mat-label>4</mat-label>
                                            <input matInput placeholder="Extension" formControlName="4">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="pl-4" fxFlex>
                                            <mat-label>5</mat-label>
                                            <input matInput placeholder="Extension" formControlName="5">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="pl-4" fxFlex>
                                            <mat-label>6</mat-label>
                                            <input matInput placeholder="Extension" formControlName="6">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start start">
                                        <mat-form-field appearance="outline" floatLabel="always" class="pl-4" fxFlex>
                                            <mat-label>7</mat-label>
                                            <input matInput placeholder="Extension" formControlName="7">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="pl-4" fxFlex>
                                            <mat-label>8</mat-label>
                                            <input matInput placeholder="Extension" formControlName="8">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="pl-4" fxFlex>
                                            <mat-label>9</mat-label>
                                            <input matInput placeholder="Extension" formControlName="9">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start start">
                                        <mat-form-field appearance="outline" floatLabel="always" class="pl-4" fxFlex>
                                            <mat-label>0</mat-label>
                                            <input matInput placeholder="Extension" formControlName="0">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Prompt" *ngIf="pageType ==='edit'">
                            <div class="tab-content p-24" fxLayout="column" fusePerfectScrollbar>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <button *ngIf="audioSource === null" mat-raised-button class="play-autoattendant-button mat-button" matTooltip="Play Prompt" color="primary" (click)="playPrompt()">
                                            <mat-icon>play_arrow</mat-icon>
                                        </button>

                                        <button *ngIf="audioSource !== null" mat-raised-button class="pause-autoattendant-button mat-button" matTooltip="Pause Prompt" color="primary" (click)="stopAudio()">
                                            <mat-icon>pause</mat-icon>
                                        </button>
                                        <div class="file-uploader">
                                            <input hidden type="file" #fileInput accept="audio/*" (change)="uploadPrompt($event)" />
                                            <button mat-raised-button class="upload-autoattendant-button mat-button" matTooltip="Upload Prompt" color="accent" (click)="fileInput.click()">
                                                <mat-icon>cloud_upload</mat-icon>
                                            </button>
                                        </div>
                                        <button mat-raised-button class="download-autoattendant-button mat-button" matTooltip="Download Prompt" color="primary" (click)="downloadPrompt()">
                                            <mat-icon>cloud_download</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
