<div mat-dialog-content>
    <p>{{message}}</p>
    <mat-form-field class="inputform" floatLabel="always">
        <mat-label>{{label}}</mat-label>
        <input matInput [(ngModel)]="inputValue">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button class="mat-accent mr-16" (click)="dialogRef.close(inputValue)">Confirm</button>
    <button mat-button (click)="dialogRef.close(null)">Cancel</button>
</div>
