<div id="users" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    person
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Users</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a user">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'/settings/users/new'" *ngIf="isSuperAdmin" class="add-user-button fuse-white mt-24 mt-md-0">
                <mat-icon>add</mat-icon>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="users-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.firstName}} {{user.lastName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Gravatar Column -->
                <ng-container matColumnDef="gravatar">
                    <mat-header-cell *matHeaderCellDef>Gravatar</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <img ngxGravatar [email]="user.email" fallback="mm">
                    </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.email}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Company Column -->
                <ng-container matColumnDef="companyName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
                    <mat-cell *matCellDef="let extension">
                        <p class="text-truncate">{{extension.companyName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Role Column -->
                <ng-container matColumnDef="role">
                    <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <div *ngIf="user.userRole === 'ROLE_SYSTEM_ADMIN'" matTooltip="System Admin">
                            <fa-icon icon="chess-king" size="2x"></fa-icon>
                        </div>
                        <div *ngIf="user.userRole === 'ROLE_GETAFIX_ADMIN'" matTooltip="Getafix Admin">
                            <fa-icon icon="chess-knight" size="2x"></fa-icon>
                        </div>
                        <div *ngIf="user.userRole === 'ROLE_ADMIN'" matTooltip="Admin">
                            <fa-icon icon="chess-rook" size="2x"></fa-icon>
                        </div>
                        <div *ngIf="user.userRole === 'ROLE_USER'" matTooltip="User">
                            <fa-icon icon="chess-pawn" size="2x"></fa-icon>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- Enabled Column -->
                <ng-container matColumnDef="enabled">
                    <mat-header-cell *matHeaderCellDef>Enabled</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <div *ngIf="user.enabled">
                            <fa-icon icon="thumbs-up" size="2x"></fa-icon>
                        </div>
                        <div *ngIf="!user.enabled">
                            <fa-icon icon="thumbs-down" size="2x"></fa-icon>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- Locked Column -->
                <ng-container matColumnDef="locked">
                    <mat-header-cell *matHeaderCellDef>Locked</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <div *ngIf="user.locked">
                            <fa-icon icon="lock" size="2x"></fa-icon>
                        </div>
                        <div *ngIf="!user.locked">
                            <fa-icon icon="lock-open" size="2x"></fa-icon>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let user; columns: displayedColumns;" class="user" matRipple [routerLink]="'/settings/users/'+user.id" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
