<div id="phonenumbers" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    sim_card
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Phone Numbers</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a phone number">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'/settings/phonenumbers/new'" *ngIf="isSuperAdmin" class="add-phonenumbers-button fuse-white mt-24 mt-md-0">
                <mat-icon>add</mat-icon>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="phonenumbers-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="number">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Number</mat-header-cell>
                    <mat-cell *matCellDef="let phoneNumber">
                        <p class="text-truncate">{{phoneNumber.number}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Provider Name Column -->
                <ng-container matColumnDef="providerName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Provider Name</mat-header-cell>
                    <mat-cell *matCellDef="let phoneNumber">
                        <p class="text-truncate">{{phoneNumber.providerName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Company Name Column -->
                <ng-container matColumnDef="companyName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</mat-header-cell>
                    <mat-cell *matCellDef="let phoneNumber">
                        <p class="text-truncate">{{phoneNumber.companyName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Extension Column -->
                <ng-container matColumnDef="baseExtension">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Extension</mat-header-cell>
                    <mat-cell *matCellDef="let phoneNumber">
                        <p class="text-truncate">{{phoneNumber.baseExtension}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let phoneNumber; columns: displayedColumns;" class="phonenumber" matRipple [routerLink]="'/settings/phonenumbers/'+phoneNumber.number" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
