<div id="company" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/settings/companies'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{company.companyName}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Company
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Company Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="add-company-button mat-button" [disabled]="companyForm.invalid" *ngIf="pageType ==='new'" (click)="addCompany()">
                <mat-icon>add</mat-icon>
            </button>

            <div *ngIf="pageType ==='edit'">
                <button mat-raised-button class="save-company-button mat-button" color="primary" [disabled]="companyForm.invalid || companyForm.pristine" (click)="saveCompany()">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-raised-button class="delete-extension-button mat-button" color="warn" *ngIf="isSuperAdmin" (click)="deleteCompany()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <div class="tab-content p-24" fusePerfectScrollbar>

                    <form name="companyForm" [formGroup]="companyForm" class="company w-100-p" fxLayout="column" fxFlex>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Company Id</mat-label>
                            <input matInput placeholder="Company Id" name="companyId" formControlName="companyId" required>
                            <mat-error *ngIf="f.companyId.errors?.required">
                                Company Id is required!
                            </mat-error>
                            <mat-error *ngIf="f.companyId.errors?.minLength">
                                Company Id minimum length 3!
                            </mat-error>
                            <mat-error *ngIf="f.companyId.errors?.pattern">
                                Company Id pattern is wrong!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Company Name</mat-label>
                            <input matInput placeholder="Company Name" name="companyName" formControlName="companyName" required>
                            <mat-error *ngIf="f.companyName.errors?.required">
                                Company Name is required!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Description</mat-label>
                            <input matInput placeholder="Description" name="description" formControlName="description">
                        </mat-form-field>

                        <div fxLayout="row" fxLayoutAlign="start start" *ngIf="pageType ==='edit'">
                            <mat-checkbox name="enabled" formControlName="enabled">Enabled</mat-checkbox>
                        </div>

                        <mat-form-field appearance="outline" class="w-100-p" [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <mat-label>Time Zone</mat-label>
                            <mat-select placeholder="Time Zone" formControlName="zoneId" [(value)]="company.zoneId" required>
                                <mat-option *ngFor="let zoneId of (timeZones | keys)" [value]="zoneId.key">
                                    {{zoneId.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" name="email" formControlName="email" required>
                            <mat-icon matSuffix class="secondary-text">email</mat-icon>
                            <mat-error *ngIf="f.email.errors?.required">
                                Email is required!
                            </mat-error>
                            <mat-error *ngIf="f.email.errors?.email">
                                Please enter a valid email address!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="Phone" name="phone" formControlName="phone">
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Notes</mat-label>
                            <textarea matInput placeholder="Notes" name="notes" formControlName="notes" rows="5">
                            </textarea>
                        </mat-form-field>
                    </form>
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
