<div id="channellogs" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    history
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Channel Logs</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a channel log">
                </div>
            </div>
            <!-- / SEARCH -->

            <div fxLayout="row" fxLayoutAlign="end center">
                <!-- REFRESH BUTTON -->
                <button *ngIf="isExtensionSelected()" mat-icon-button class="refresh-button" (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <!-- / REFRESH BUTTON -->
                <mat-form-field class="topbar extension" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <mat-label>Extension</mat-label>
                    <mat-select placeholder="Extension" [(value)]="selectedExtension" (selectionChange)="refresh()">
                        <mat-option *ngFor="let extension of extensions" [value]="extension.id">
                            {{extension.baseExtension}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="end center">
                    <mat-form-field matTooltip="From Date" class="topbar date" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                        <input matInput [matDatepicker]="startPicker" placeholder="Start date" [formControl]="startDateControl" [min]="minStartDate" [max]="maxStartDate" (dateChange)="startDateChanged($event)">
                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker startView="month"></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field matTooltip="To Date" class="topbar date" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                        <input matInput [matDatepicker]="endPicker" placeholder="End date" [formControl]="endDateControl" [min]="minEndDate" [max]="maxEndDate" (dateChange)="endDateChanged($event)">
                        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                        <mat-datepicker #endPicker startView="month"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group>

                    <mat-tab label="Logs">

                        <mat-table class="channellogs-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                            <!-- Date Column -->
                            <ng-container matColumnDef="date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
                                <mat-cell *matCellDef="let channellog">
                                    <p class="text-truncate">{{channellog.date}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Time Column -->
                            <ng-container matColumnDef="time">
                                <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
                                <mat-cell *matCellDef="let channellog">
                                    <p class="text-truncate">{{channellog.time}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- From Column -->
                            <ng-container matColumnDef="from">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>From</mat-header-cell>
                                <mat-cell *matCellDef="let channellog">
                                    <p class="text-truncate">{{channellog.from}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- To Column -->
                            <ng-container matColumnDef="to">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>To</mat-header-cell>
                                <mat-cell *matCellDef="let channellog">
                                    <p class="text-truncate">{{channellog.to}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Caller Name Column -->
                            <ng-container matColumnDef="callerName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Caller Name</mat-header-cell>
                                <mat-cell *matCellDef="let channellog">
                                    <p class="text-truncate">{{channellog.callerName}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Called Number Column -->
                            <ng-container matColumnDef="calledNumber">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Called Number</mat-header-cell>
                                <mat-cell *matCellDef="let channellog">
                                    <p class="text-truncate">{{channellog.calledNumber}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Type Column -->
                            <ng-container matColumnDef="callType">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                                <mat-cell *matCellDef="let channellog">
                                    <p class="text-truncate">{{channellog.callType}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                                <mat-cell *matCellDef="let channellog">
                                    <div *ngIf="isInProgress(channellog.status)" matTooltip="In Progress">
                                        <mat-icon class="topbar call_made">update</mat-icon>
                                    </div>
                                    <div *ngIf="isCallMade(channellog.status)" matTooltip="Dialed">
                                        <mat-icon class="topbar call_made">call_made</mat-icon>
                                    </div>
                                    <div *ngIf="isCallReceived(channellog.status)" matTooltip="Received">
                                        <mat-icon class="topbar call_received">call_received</mat-icon>
                                    </div>
                                    <div *ngIf="isCallMissed(channellog.status, channellog.caller)" matTooltip="Missed">
                                        <mat-icon class="topbar call_missed">call_missed</mat-icon>
                                    </div>
                                    <div *ngIf="isCallMissedOutgoing(channellog.status, channellog.caller)" matTooltip="Missed">
                                        <mat-icon class="topbar call_missed">call_missed_outgoing</mat-icon>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- Duration Column -->
                            <ng-container matColumnDef="duration">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Duration</mat-header-cell>
                                <mat-cell *matCellDef="let channellog">
                                    <p class="text-truncate">{{channellog.duration}}</p>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                            <mat-row *matRowDef="let channellog; columns: displayedColumns;" class="channellog" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                            </mat-row>
                        </mat-table>

                        <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
                        </mat-paginator>

                    </mat-tab>
                    <mat-tab label="Summary">
                        <mat-table class="channellogs-table" #table [dataSource]="dataSummarySource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                            <ng-container matColumnDef="label1">
                                <mat-cell *matCellDef="let summary">
                                    <p class="text-truncate">{{summary.label1}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="value1">
                                <mat-cell *matCellDef="let summary">
                                    <p class="text-truncate">{{summary.value1}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="label2">
                                <mat-cell *matCellDef="let summary">
                                    <p class="text-truncate">{{summary.label2}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="value2">
                                <mat-cell *matCellDef="let summary">
                                    <p class="text-truncate">{{summary.value2}}</p>
                                </mat-cell>
                            </ng-container>

                            <mat-row *matRowDef="let summary; columns: displayedSummaryColumns;" class="channellog">
                            </mat-row>
                        </mat-table>
                    </mat-tab>

                </mat-tab-group>

            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
