<div id="queuelive" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/callcenterlive'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    headset_mic
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{queueLive.queueName}} [{{queueLive.baseExtension}}]</span>
            </div>
            <!-- / APP TITLE -->

            <div fxFlex fxLayout="row" fxLayoutAlign="center center">

            </div>

            <div fxLayout="row" fxLayoutAlign="end center">
                <div class="pr-16">
                    <div class="h3 secondary-text">Queued</div>
                    <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                        {{queueLive.queuedChannelsCount}}
                    </div>
                </div>
                <div class="pr-16">
                    <div class="h3 secondary-text">Channels</div>
                    <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                        {{queueLive.channelsCount}}
                    </div>
                </div>
                <div class="pr-16">
                    <div class="h3 secondary-text">Agents</div>
                    <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                        {{queueLive.agentsCount}}
                    </div>
                </div>
                <div class="pr-16">
                    <div class="h3 secondary-text">Messages</div>
                    <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                        {{queueLive.messageCount}}
                    </div>
                </div>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group>
                    <mat-tab label="Channels">
                        <mat-table class="queuelive-table" #channeltable [dataSource]="channelDataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                            <!-- Caller Name Column -->
                            <ng-container matColumnDef="callerIdName">
                                <mat-header-cell *matHeaderCellDef>Caller Name</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.callerIdName}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Caller Number Column -->
                            <ng-container matColumnDef="callerIdNum">
                                <mat-header-cell *matHeaderCellDef>Caller Number</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.callerIdNum}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Destination Column -->
                            <ng-container matColumnDef="destination">
                                <mat-header-cell *matHeaderCellDef>Destination</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.destination}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Start Time Column -->
                            <ng-container matColumnDef="startTime">
                                <mat-header-cell *matHeaderCellDef>Start Time</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.startTime}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Duration Column -->
                            <ng-container matColumnDef="duration">
                                <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.duration}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Direction Column -->
                            <ng-container matColumnDef="queueCallDirection">
                                <mat-header-cell *matHeaderCellDef>Direction</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <div *ngIf="channelLive.queueCallDirection=== 'Incoming'">
                                        <fa-icon class="incoming" icon="chevron-down" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="channelLive.queueCallDirection=== 'Outgoing'">
                                        <fa-icon class="outgoing" icon="chevron-up" size="2x"></fa-icon>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- Queued Column -->
                            <ng-container matColumnDef="queued">
                                <mat-header-cell *matHeaderCellDef>Queued</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <div *ngIf="channelLive.queued" matTooltip="Queued">
                                        <fa-icon class="topbar offline" icon="frown-open" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="!channelLive.queued" matTooltip="Answered">
                                        <fa-icon class="topbar online" icon="laugh" size="2x"></fa-icon>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- Wait Column -->
                            <ng-container matColumnDef="wait">
                                <mat-header-cell *matHeaderCellDef>Wait</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.wait}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.position}}</p>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedChannelColumns; sticky:true"></mat-header-row>

                            <mat-row *matRowDef="let channelLive; columns: displayedChannelColumns;" class="channelLive">
                            </mat-row>
                        </mat-table>
                    </mat-tab>
                    <mat-tab label="Messages">
                        <mat-table class="queuelive-table" #channeltable [dataSource]="messageDataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                            <!-- Directory Column -->
                            <ng-container matColumnDef="dir">
                                <mat-header-cell *matHeaderCellDef>Directory</mat-header-cell>
                                <mat-cell *matCellDef="let messageLive">
                                    <p class="text-truncate">{{messageLive.dir}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Message Number Column -->
                            <ng-container matColumnDef="msgNum">
                                <mat-header-cell *matHeaderCellDef>Message Number</mat-header-cell>
                                <mat-cell *matCellDef="let messageLive">
                                    <p class="text-truncate">{{messageLive.msgNum}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Caller Id Column -->
                            <ng-container matColumnDef="callerId">
                                <mat-header-cell *matHeaderCellDef>Caller Id</mat-header-cell>
                                <mat-cell *matCellDef="let messageLive">
                                    <p class="text-truncate">{{messageLive.callerId}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Start Time Column -->
                            <ng-container matColumnDef="origTime">
                                <mat-header-cell *matHeaderCellDef>Start Time</mat-header-cell>
                                <mat-cell *matCellDef="let messageLive">
                                    <p class="text-truncate">{{messageLive.origTime}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Duration Column -->
                            <ng-container matColumnDef="duration">
                                <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
                                <mat-cell *matCellDef="let messageLive">
                                    <p class="text-truncate">{{messageLive.duration}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                <mat-cell *matCellDef="let messageLive">
                                    <button mat-icon-button matTooltip="Play" class="play-message-button mat-button" (click)="$event.stopPropagation();play(messageLive.msgId)">
                                        <mat-icon class="topbar play">play_arrow</mat-icon>
                                    </button>
                                    <button *ngIf="isPlaying(messageLive.msgId)" mat-icon-button matTooltip="Stop" class="pause-message-button mat-button" (click)="$event.stopPropagation();stopAudio()">
                                        <mat-icon class="topbar stop">stop</mat-icon>
                                    </button>
                                    <button mat-icon-button matTooltip="Call Back" class="callback-message-button mat-button" (click)="$event.stopPropagation();callback(messageLive.msgId)">
                                        <mat-icon class="topbar callback">call</mat-icon>
                                    </button>
                                    <button mat-icon-button matTooltip="Delete" class="delete-message-button mat-button" (click)="$event.stopPropagation();delete(messageLive.msgId)">
                                        <mat-icon class="topbar delete">delete</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedMessageColumns; sticky:true"></mat-header-row>

                            <mat-row *matRowDef="let messageLive; columns: displayedMessageColumns;" class="messageLive">
                            </mat-row>
                        </mat-table>
                    </mat-tab>
                    <mat-tab label="Agents">
                        <mat-table class="queuelive-table" #agentstable [dataSource]="agentDataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                            <!-- Name Column -->
                            <ng-container matColumnDef="agentName">
                                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                                <mat-cell *matCellDef="let agentLive">
                                    <p class="text-truncate">{{agentLive.agentName}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Extension Column -->
                            <ng-container matColumnDef="baseExtension">
                                <mat-header-cell *matHeaderCellDef>Extension</mat-header-cell>
                                <mat-cell *matCellDef="let agentLive">
                                    <p class="text-truncate">{{agentLive.baseExtension}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Phone Line Column -->
                            <ng-container matColumnDef="sipUserName">
                                <mat-header-cell *matHeaderCellDef>Phone Line</mat-header-cell>
                                <mat-cell *matCellDef="let agentLive">
                                    <p class="text-truncate">{{agentLive.sipUserName}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Device Status Column -->
                            <ng-container matColumnDef="deviceStatus">
                                <mat-header-cell *matHeaderCellDef>Device Status</mat-header-cell>
                                <mat-cell *matCellDef="let agentLive">
                                    <div *ngIf="agentLive.deviceStatus === 'UNKNOWN'" matTooltip="Device: unknown">
                                        <fa-icon class="topbar" icon="phone-alt" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="agentLive.deviceStatus === 'NOT_INUSE'" matTooltip="Device: not in use">
                                        <fa-icon class="topbar notinuse" icon="phone-alt" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="agentLive.deviceStatus === 'INUSE'" matTooltip="Device: in use">
                                        <fa-icon class="topbar inuse" icon="phone-alt" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="agentLive.deviceStatus === 'BUSY'" matTooltip="Device: busy">
                                        <fa-icon class="topbar busy" icon="phone-alt" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="agentLive.deviceStatus === 'INVALID'" matTooltip="Device: invalid">
                                        <fa-icon class="topbar invalid" icon="phone-alt" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="agentLive.deviceStatus === 'UNAVAILABLE'" matTooltip="Device: unavailable">
                                        <fa-icon class="topbar invalid" icon="phone-alt" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="agentLive.deviceStatus === 'RINGING'" matTooltip="Device: ringing">
                                        <fa-icon class="topbar ringing" icon="phone-alt" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="agentLive.deviceStatus === 'RINGINUSE'" matTooltip="Device: ring in use">
                                        <fa-icon class="topbar ringing" icon="phone-alt" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="agentLive.deviceStatus=== 'ONHOLD'" matTooltip="Device: on hold">
                                        <fa-icon class="topbar onhold" icon="phone-alt" size="2x"></fa-icon>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- Endpoint Status Column -->
                            <ng-container matColumnDef="endpointStatus">
                                <mat-header-cell *matHeaderCellDef>Endpoint Status</mat-header-cell>
                                <mat-cell *matCellDef="let agentLive">
                                    <div *ngIf="agentLive.endpointStatus === 'offline'" matTooltip="Endpoint: offline">
                                        <fa-icon class="topbar offline" icon="circle" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="agentLive.endpointStatus === 'online'" matTooltip="Endpoint: online">
                                        <fa-icon class="topbar online" icon="circle" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="agentLive.endpointStatus === 'unknown'" matTooltip="Endpoint: unknown">
                                        <fa-icon class="topbar" icon="circle" size="2x"></fa-icon>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- Joined State Column -->
                            <ng-container matColumnDef="statusMap">
                                <mat-header-cell *matHeaderCellDef>Joined State</mat-header-cell>
                                <mat-cell *matCellDef="let agentLive">
                                    <div *ngIf="getAgentStatusInQueue(agentLive.statusMap) === 'JOINED'" matTooltip="Joined">
                                        <fa-icon class="topbar online" icon="thumbs-up" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="getAgentStatusInQueue(agentLive.statusMap) === 'PAUSED'" matTooltip="Paused">
                                        <fa-icon class="topbar offline" icon="pause" size="2x"></fa-icon>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- ChannelsColumn -->
                            <ng-container matColumnDef="channels">
                                <mat-header-cell *matHeaderCellDef>Channels</mat-header-cell>
                                <mat-cell *matCellDef="let agentLive">
                                    <p class="text-truncate">{{agentLive.channels.length}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                <mat-cell *matCellDef="let agentLive;">
                                    <button mat-icon-button matTooltip="Force Sign Out" class="unjoin-queue-button mat-button" (click)="$event.stopPropagation();kickOutQueue(agentLive.phoneLineId)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedAgentColumns; sticky:true"></mat-header-row>

                            <mat-row *matRowDef="let agentLive; columns: displayedAgentColumns;" class="agentLive">
                            </mat-row>
                        </mat-table>
                    </mat-tab>
                    <mat-tab label="Queue">
                        <mat-table class="queuelive-table" #summarytable [dataSource]="queueLiveSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                            <ng-container matColumnDef="label1">
                                <mat-cell *matCellDef="let queueLiveSummary">
                                    <p class="text-truncate">{{queueLiveSummary.label1}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="value1">
                                <mat-cell *matCellDef="let queueLiveSummary">
                                    <p class="text-truncate">{{queueLiveSummary.value1}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="label2">
                                <mat-cell *matCellDef="let queueLiveSummary">
                                    <p class="text-truncate">{{queueLiveSummary.label2}}</p>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="value2">
                                <mat-cell *matCellDef="let queueLiveSummary">
                                    <p class="text-truncate">{{queueLiveSummary.value2}}</p>
                                </mat-cell>
                            </ng-container>

                            <mat-row *matRowDef="let queueLiveSummary; columns: displayedQueueLiveColumns;" class="queueLive">
                            </mat-row>
                        </mat-table>
                    </mat-tab>
                </mat-tab-group>

            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->


    <button mat-mini-fab class="primary" id="join-queue-button" matTooltip="Join Queue" *ngIf="!(!isJoinedCallCenter() || isPaused() || isJoinedQueue())" [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="joinQueue(queueLive.id)">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-fab class="accent" id="call-channel-button" matTooltip="Queue Call" *ngIf="!(!isJoinedCallCenter() || isPaused() || !isJoinedQueue())" [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="callQueue(queueLive.id)">
        <mat-icon>call</mat-icon>
    </button>
    <button mat-mini-fab class="warn" id="leave-queue-button" matTooltip="Leave Queue" *ngIf="!(!isJoinedCallCenter() || isPaused() || !isJoinedQueue())" [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="leaveQueue(queueLive.id)">
        <mat-icon>remove</mat-icon>
    </button>
</div>
