<div id="autoattendants" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    subdirectory_arrow_right
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Auto Attendants</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for an auto attendant">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'/settings/autoattendants/new'" *ngIf="isSuperAdmin" class="add-autoattendants-button fuse-white mt-24 mt-md-0">
                <mat-icon>add</mat-icon>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="autoattendants-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

              <!-- ID Column -->
              <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                  <mat-cell *matCellDef="let autoAttendant">
                      <p class="text-truncate">{{autoAttendant.id}}</p>
                  </mat-cell>
              </ng-container>

                <!-- Auto Attendant Id Column -->
                <ng-container matColumnDef="autoAttendantId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Auto Attendant</mat-header-cell>
                    <mat-cell *matCellDef="let autoAttendant">
                        <p class="text-truncate">{{autoAttendant.autoAttendantId}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Auto Attendant Name Column -->
                <ng-container matColumnDef="autoAttendantName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let autoAttendant">
                        <p class="text-truncate">{{autoAttendant.autoAttendantName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Company Name Column -->
                <ng-container matColumnDef="companyName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</mat-header-cell>
                    <mat-cell *matCellDef="let autoAttendant">
                        <p class="text-truncate">{{autoAttendant.companyName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Extension Column -->
                <ng-container matColumnDef="baseExtension">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Extension</mat-header-cell>
                    <mat-cell *matCellDef="let autoAttendant">
                        <p class="text-truncate">{{autoAttendant.baseExtension}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let autoAttendant; columns: displayedColumns;" class="autoattendant" matRipple [routerLink]="'/settings/autoattendants/'+autoAttendant.id" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
