<div mat-dialog-content>
  <p>{{message}}</p>
  <mat-form-field class="selectform">
      <mat-label>{{label}}</mat-label>
      <mat-select placeholder="Queues" [(value)]="elementId">
          <mat-option *ngFor="let element of elements" [value]="element.key">
              {{element.value}}
          </mat-option>
      </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="mat-accent mr-16" (click)="dialogRef.close(elementId)">Confirm</button>
  <button mat-button (click)="dialogRef.close(null)">Cancel</button>
</div>
