<div id="callcenterlive" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    headset_mic
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Call Center Live</span>
            </div>
            <!-- / APP TITLE -->

            <div fxLayout="row" fxLayoutAlign="end center">

                <button *ngIf="isPhoneLineSelected() && !isJoinedCallCenter()" mat-icon-button matTooltip="Join CallCenter" class="join-callcenter-button" (click)="joinCallCenter()">
                    <mat-icon>add</mat-icon>
                </button>

                <button *ngIf="isJoinedCallCenter() && isJoinedAnyQueue() && !isPaused()" mat-icon-button matTooltip="Pause Agent" class="pause-queue-button mat-button" (click)="$event.stopPropagation();pauseAgent()">
                    <mat-icon>pause</mat-icon>
                </button>

                <button *ngIf="isJoinedCallCenter() && isPaused()" mat-icon-button matTooltip="Resume Agent" class="resume-queue-button mat-button" (click)="$event.stopPropagation();resumeAgent()">
                    <mat-icon>play_arrow</mat-icon>
                </button>

                <button *ngIf="isJoinedCallCenter()" mat-icon-button matTooltip="Leave CallCenter" class="leave-callcenter-button" (click)="leaveCallCenter()">
                    <mat-icon>remove</mat-icon>
                </button>

                <mat-form-field class="topbar extension" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <mat-label>Extension</mat-label>
                    <mat-select placeholder="Extension" [disabled]="isJoinedCallCenter()" [(value)]="selectedExtension" (selectionChange)="extensionChanged()">
                        <mat-option *ngFor="let extension of extensions" [value]="extension.id">
                            {{extension.baseExtension}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="topbar phoneline" appearance="outline" floatLabel="always">
                    <mat-label>Phone Line</mat-label>
                    <input matInput placeholder="Phone Line" [(value)]="selectedSipUserName" disabled>
                </mat-form-field>

                <div *ngIf="getDeviceStatus() === 'UNKNOWN'" matTooltip="Device: unknown">
                    <fa-icon class="topbar" icon="phone-alt" size="2x"></fa-icon>
                </div>
                <div *ngIf="getDeviceStatus() === 'NOT_INUSE'" matTooltip="Device: not in use">
                    <fa-icon class="topbar notinuse" icon="phone-alt" size="2x"></fa-icon>
                </div>
                <div *ngIf="getDeviceStatus() === 'INUSE'" matTooltip="Device: in use">
                    <fa-icon class="topbar inuse" icon="phone-alt" size="2x"></fa-icon>
                </div>
                <div *ngIf="getDeviceStatus() === 'BUSY'" matTooltip="Device: busy">
                    <fa-icon class="topbar busy" icon="phone-alt" size="2x"></fa-icon>
                </div>
                <div *ngIf="getDeviceStatus() === 'INVALID'" matTooltip="Device: invalid">
                    <fa-icon class="topbar invalid" icon="phone-alt" size="2x"></fa-icon>
                </div>
                <div *ngIf="getDeviceStatus() === 'UNAVAILABLE'" matTooltip="Device: unavailable">
                    <fa-icon class="topbar invalid" icon="phone-alt" size="2x"></fa-icon>
                </div>
                <div *ngIf="getDeviceStatus() === 'RINGING'" matTooltip="Device: ringing">
                    <fa-icon class="topbar ringing" icon="phone-alt" size="2x"></fa-icon>
                </div>
                <div *ngIf="getDeviceStatus() === 'RINGINUSE'" matTooltip="Device: ring in use">
                    <fa-icon class="topbar ringing" icon="phone-alt" size="2x"></fa-icon>
                </div>
                <div *ngIf="getDeviceStatus() === 'ONHOLD'" matTooltip="Device: on hold">
                    <fa-icon class="topbar onhold" icon="phone-alt" size="2x"></fa-icon>
                </div>

                <div *ngIf="getEndpointStatus() === 'offline'" matTooltip="Endpoint: offline">
                    <fa-icon class="topbar offline" icon="circle" size="2x"></fa-icon>
                </div>
                <div *ngIf="getEndpointStatus() === 'online'" matTooltip="Endpoint: online">
                    <fa-icon class="topbar online" icon="circle" size="2x"></fa-icon>
                </div>
                <div *ngIf="getEndpointStatus() === 'unknown'" matTooltip="Endpoint: unknown">
                    <fa-icon class="topbar" icon="circle" size="2x"></fa-icon>
                </div>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="callcenterlive-table" #channeltable [dataSource]="channelDataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- Caller Name Column -->
                <ng-container matColumnDef="callerIdName">
                    <mat-header-cell *matHeaderCellDef>Caller Name</mat-header-cell>
                    <mat-cell *matCellDef="let channelLive">
                        <p class="text-truncate">{{channelLive.callerIdName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Caller Number Column -->
                <ng-container matColumnDef="callerIdNum">
                    <mat-header-cell *matHeaderCellDef>Caller Number</mat-header-cell>
                    <mat-cell *matCellDef="let channelLive">
                        <p class="text-truncate">{{channelLive.callerIdNum}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Destination Column -->
                <ng-container matColumnDef="destination">
                    <mat-header-cell *matHeaderCellDef>Destination</mat-header-cell>
                    <mat-cell *matCellDef="let channelLive">
                        <p class="text-truncate">{{channelLive.destination}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Start Time Column -->
                <ng-container matColumnDef="startTime">
                    <mat-header-cell *matHeaderCellDef>Start Time</mat-header-cell>
                    <mat-cell *matCellDef="let channelLive">
                        <p class="text-truncate">{{channelLive.startTime}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Duration Column -->
                <ng-container matColumnDef="duration">
                    <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
                    <mat-cell *matCellDef="let channelLive">
                        <p class="text-truncate">{{channelLive.duration}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Direction Column -->
                <ng-container matColumnDef="direction">
                    <mat-header-cell *matHeaderCellDef>Direction</mat-header-cell>
                    <mat-cell *matCellDef="let channelLive">
                        <div *ngIf="channelLive.direction=== 'Incoming'">
                            <fa-icon class="incoming" icon="chevron-down" size="2x"></fa-icon>
                        </div>
                        <div *ngIf="channelLive.direction=== 'Outgoing'">
                            <fa-icon class="outgoing" icon="chevron-up" size="2x"></fa-icon>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- Call Type Column -->
                <ng-container matColumnDef="callType">
                    <mat-header-cell *matHeaderCellDef>Call Type</mat-header-cell>
                    <mat-cell *matCellDef="let channelLive">
                        <p class="text-truncate">{{channelLive.callType}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Answered Column -->
                <ng-container matColumnDef="answered">
                    <mat-header-cell *matHeaderCellDef>Answered</mat-header-cell>
                    <mat-cell *matCellDef="let channelLive">
                        <div *ngIf="channelLive.answered">
                            <fa-icon class="answered" icon="thumbs-up" size="2x"></fa-icon>
                        </div>
                        <div *ngIf="!channelLive.answered">
                            <fa-icon class="ringing" icon="thumbs-down" size="2x"></fa-icon>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let channelLive">
                        <button mat-icon-button matTooltip="M2Q" *ngIf="!isPersonalCall(channelLive.callType)" class="m2q-channel-button mat-button" (click)="$event.stopPropagation();m2qChannel(channelLive.uniqueID)">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Escalate" *ngIf="!isPersonalCall(channelLive.callType)" class="escalate-channel-button mat-button" (click)="$event.stopPropagation();escalateChannel(channelLive.uniqueID)">
                            <mat-icon>arrow_upward</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Transfer" *ngIf="!isPersonalCall(channelLive.callType)" class="transfer-channel-button mat-button" (click)="$event.stopPropagation();transferChannel(channelLive.uniqueID)">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Hang Up" class="hangup-channel-button mat-button" (click)="$event.stopPropagation();hangupChannel(channelLive.uniqueID)">
                            <mat-icon>call_end</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedChannelColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let channelLive; columns: displayedChannelColumns;" class="channelLive">
                </mat-row>
            </mat-table>

            <mat-divider></mat-divider>

            <mat-table class="callcenterlive-table" #queuetable [dataSource]="queueDataSource" matSort fusePerfectScrollbar>

                <!-- Queue Name Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>Queue Name</mat-header-cell>
                    <mat-cell *matCellDef="let queueLive">
                        <p class="text-truncate">{{queueLive.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Queue Name Column -->
                <ng-container matColumnDef="queueName">
                    <mat-header-cell *matHeaderCellDef>Queue Name</mat-header-cell>
                    <mat-cell *matCellDef="let queueLive">
                        <p class="text-truncate">{{queueLive.queueName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- ExtensionColumn -->
                <ng-container matColumnDef="baseExtension">
                    <mat-header-cell *matHeaderCellDef>Extension</mat-header-cell>
                    <mat-cell *matCellDef="let queueLive">
                        <p class="text-truncate">{{queueLive.baseExtension}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Agents Column -->
                <ng-container matColumnDef="agentStatusMap">
                    <mat-header-cell *matHeaderCellDef>Agents</mat-header-cell>
                    <mat-cell *matCellDef="let queueLive">
                        <p class="text-truncate">{{getAgentCount(queueLive.agentStatusMap)}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Max Column -->
                <ng-container matColumnDef="max">
                    <mat-header-cell *matHeaderCellDef>Queue Size</mat-header-cell>
                    <mat-cell *matCellDef="let queueLive">
                        <p class="text-truncate">{{queueLive.max}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
                    <mat-cell *matCellDef="let queueLive">
                        <p class="text-truncate">{{queueLive.weight}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Queued calls Column -->
                <ng-container matColumnDef="queuedChannelsCount">
                    <mat-header-cell *matHeaderCellDef>Queued Calls</mat-header-cell>
                    <mat-cell *matCellDef="let queueLive">
                        <p class="text-truncate">{{queueLive.queuedChannelsCount}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Calls Column -->
                <ng-container matColumnDef="channelsCount">
                    <mat-header-cell *matHeaderCellDef>Total Calls</mat-header-cell>
                    <mat-cell *matCellDef="let queueLive">
                        <p class="text-truncate">{{queueLive.channelsCount}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Messages Column -->
                <ng-container matColumnDef="messageCount">
                    <mat-header-cell *matHeaderCellDef>Total Messages</mat-header-cell>
                    <mat-cell *matCellDef="let queueLive">
                        <p class="text-truncate">{{queueLive.messageCount}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Average Wait Column -->
                <ng-container matColumnDef="avgWait">
                    <mat-header-cell *matHeaderCellDef>Average Wait</mat-header-cell>
                    <mat-cell *matCellDef="let queueLive">
                        <p class="text-truncate">{{queueLive.avgWait}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Max Wait Column -->
                <ng-container matColumnDef="maxWait">
                    <mat-header-cell *matHeaderCellDef>Max Wait / Threshold</mat-header-cell>
                    <mat-cell *matCellDef="let queueLive">
                        <p class="text-truncate">{{queueLive.maxWait}} / {{queueLive.serviceLevel}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let queueLive; let element; let i = index">
                        <div *ngIf="!isJoinedCallCenter() || isPaused()">NA</div>
                        <button mat-icon-button matTooltip="Join Queue" *ngIf="!(!isJoinedCallCenter() || isPaused() || isJoinedQueue(i))" class="join-queue-button mat-button" (click)="$event.stopPropagation();joinQueue(queueLive.id)">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Queue Call" *ngIf="!(!isJoinedCallCenter() || isPaused() || !isJoinedQueue(i))" class="call-channel-button mat-button" (click)="$event.stopPropagation();callQueue(queueLive.id)">
                            <mat-icon>call</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Leave Queue" *ngIf="!(!isJoinedCallCenter() || isPaused() || !isJoinedQueue(i))" class="leave-queue-button mat-button" (click)="$event.stopPropagation();leaveQueue(queueLive.id)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedQueueColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let queueLive; columns: displayedQueueColumns; let i = index;" class="callcenterlive" matRipple [routerLink]="getRouterLink(queueLive.queueId)">
                </mat-row>
            </mat-table>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
