<div id="queuelogs" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    history
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Queue Logs</span>
            </div>
            <!-- / APP TITLE -->

            <div fxLayout="row" fxLayoutAlign="end center">
                <!-- REFRESH BUTTON -->
                <button *ngIf="isQueueSelected()" mat-icon-button class="refresh-button" (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <!-- / REFRESH BUTTON -->
                <mat-form-field class="topbar queue" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <mat-label>Queue</mat-label>
                    <mat-select placeholder="Queue" [(value)]="selectedQueue" (selectionChange)="refresh()">
                        <mat-option *ngFor="let queue of queues" [value]="queue.id">
                            {{queue.queueName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field matTooltip="From Date" class="topbar date" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <input matInput [matDatepicker]="startPicker" placeholder="Start date" [formControl]="startDateControl" [min]="minStartDate" [max]="maxStartDate" (dateChange)="startDateChanged($event)">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker startView="month"></mat-datepicker>
                </mat-form-field>
                <mat-form-field matTooltip="To Date" class="topbar date" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <input matInput [matDatepicker]="endPicker" placeholder="End date" [formControl]="endDateControl" [min]="minEndDate" [max]="maxEndDate" (dateChange)="endDateChanged($event)">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker startView="month"></mat-datepicker>
                </mat-form-field>
            </div>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group>

                    <mat-tab label="Logs">

                        <mat-table class="queuelogs-table" #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                            <!-- callid Column -->
                            <ng-container matColumnDef="callid">
                                <mat-header-cell *matHeaderCellDef>Call Id</mat-header-cell>
                                <mat-cell *matCellDef="let queuelog">
                                    <p class="text-truncate">{{queuelog.callid}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- agent Column -->
                            <ng-container matColumnDef="agent">
                                <mat-header-cell *matHeaderCellDef>Agent</mat-header-cell>
                                <mat-cell *matCellDef="let queuelog">
                                    <p class="text-truncate">{{queuelog.agent}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- event Column -->
                            <ng-container matColumnDef="event">
                                <mat-header-cell *matHeaderCellDef>Event</mat-header-cell>
                                <mat-cell *matCellDef="let queuelog">
                                    <p class="text-truncate">{{queuelog.event}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- data1 Column -->
                            <ng-container matColumnDef="data1">
                                <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
                                <mat-cell *matCellDef="let queuelog">
                                    <p class="text-truncate">{{queuelog.data1}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- data2 Column -->
                            <ng-container matColumnDef="data2">
                                <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
                                <mat-cell *matCellDef="let queuelog">
                                    <p class="text-truncate">{{queuelog.data2}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- data3 Column -->
                            <ng-container matColumnDef="data3">
                                <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
                                <mat-cell *matCellDef="let queuelog">
                                    <p class="text-truncate">{{queuelog.data3}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- data4 Column -->
                            <ng-container matColumnDef="data4">
                                <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
                                <mat-cell *matCellDef="let queuelog">
                                    <p class="text-truncate">{{queuelog.data4}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- data5 Column -->
                            <ng-container matColumnDef="data5">
                                <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
                                <mat-cell *matCellDef="let queuelog">
                                    <p class="text-truncate">{{queuelog.data5}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Time Column -->
                            <ng-container matColumnDef="time">
                                <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
                                <mat-cell *matCellDef="let queuelog">
                                    <p class="text-truncate">{{queuelog.time}}</p>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                            <mat-row *matRowDef="let queuelog; columns: displayedColumns;" class="queuelog" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                            </mat-row>
                        </mat-table>

                    </mat-tab>
                    <mat-tab label="Channel Logs">

                        <mat-table class="queuelogs-table" #table [dataSource]="dataChannelSource" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                            <!-- Date Column -->
                            <ng-container matColumnDef="date">
                                <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                                <mat-cell *matCellDef="let queuechannellog">
                                    <p class="text-truncate">{{queuechannellog.date}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Time Column -->
                            <ng-container matColumnDef="time">
                                <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
                                <mat-cell *matCellDef="let queuechannellog">
                                    <p class="text-truncate">{{queuechannellog.time}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Caller Name Column -->
                            <ng-container matColumnDef="callerName">
                                <mat-header-cell *matHeaderCellDef>Caller Name</mat-header-cell>
                                <mat-cell *matCellDef="let queuechannellog">
                                    <p class="text-truncate">{{queuechannellog.callerName}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Called Number Column -->
                            <ng-container matColumnDef="calledNumber">
                                <mat-header-cell *matHeaderCellDef>Called Number</mat-header-cell>
                                <mat-cell *matCellDef="let queuechannellog">
                                    <p class="text-truncate">{{queuechannellog.calledNumber}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- From Column -->
                            <ng-container matColumnDef="from">
                                <mat-header-cell *matHeaderCellDef>From</mat-header-cell>
                                <mat-cell *matCellDef="let queuechannellog">
                                    <p class="text-truncate">{{queuechannellog.from}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- To Column -->
                            <ng-container matColumnDef="to">
                                <mat-header-cell *matHeaderCellDef>To</mat-header-cell>
                                <mat-cell *matCellDef="let queuechannellog">
                                    <p class="text-truncate">{{queuechannellog.to}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Queued Duration Column -->
                            <ng-container matColumnDef="queuedDuration">
                                <mat-header-cell *matHeaderCellDef>Queued Duration</mat-header-cell>
                                <mat-cell *matCellDef="let queuechannellog">
                                    <p class="text-truncate">{{queuechannellog.queuedDuration}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                                <mat-cell *matCellDef="let queuechannellog">
                                    <div *ngIf="isInProgress(queuechannellog.status)" matTooltip="In Progress">
                                        <mat-icon class="topbar call_received">update</mat-icon>
                                    </div>
                                    <div *ngIf="isNotAnswered(queuechannellog.status)" matTooltip="Not Answered">
                                        <mat-icon class="topbar call_not_answered">call_missed_outgoing</mat-icon>
                                    </div>
                                    <div *ngIf="isAnswered(queuechannellog.status, queuechannellog.outbound)" matTooltip="Answered">
                                        <mat-icon class="topbar call_received">call_received</mat-icon>
                                    </div>
                                    <div *ngIf="isAnsweredOutgoing(queuechannellog.status, queuechannellog.outbound)" matTooltip="Answered">
                                        <mat-icon class="topbar call_made">call_made</mat-icon>
                                    </div>
                                    <div *ngIf="isAbandoned(queuechannellog.status)" matTooltip="Abandoned">
                                        <mat-icon class="topbar call_abandoned">call_missed</mat-icon>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedChannelColumns; sticky:true"></mat-header-row>

                            <mat-row *matRowDef="let queuechannellog; columns: displayedChannelColumns;" class="queuelog" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                            </mat-row>
                        </mat-table>

                    </mat-tab>

                </mat-tab-group>

            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
