<div id="queues" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    queue
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Queues</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a queue">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'/settings/queues/new'" *ngIf="isSuperAdmin" class="add-queues-button fuse-white mt-24 mt-md-0">
                <mat-icon>add</mat-icon>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="queues-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let queue">
                        <p class="text-truncate">{{queue.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Queue Id Column -->
                <ng-container matColumnDef="queueId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Queue Id</mat-header-cell>
                    <mat-cell *matCellDef="let queue">
                        <p class="text-truncate">{{queue.queueId}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Queue NameColumn -->
                <ng-container matColumnDef="queueName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Queue Name</mat-header-cell>
                    <mat-cell *matCellDef="let queue">
                        <p class="text-truncate">{{queue.queueName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Extension Column -->
                <ng-container matColumnDef="baseExtension">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Extension</mat-header-cell>
                    <mat-cell *matCellDef="let queue">
                        <p class="text-truncate">{{queue.baseExtension}}</p>
                    </mat-cell>
                </ng-container>

                <!-- ServiceLevel Column -->
                <ng-container matColumnDef="serviceLevel">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Service Level</mat-header-cell>
                    <mat-cell *matCellDef="let queue">
                        <p class="text-truncate">{{queue.serviceLevel}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Company Column -->
                <ng-container matColumnDef="companyName">
                    <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>
                    <mat-cell *matCellDef="let queue">
                        <p class="text-truncate">{{queue.companyName}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let queue; columns: displayedColumns;" class="queue" matRipple [routerLink]="'/settings/queues/'+queue.id" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
