<div id="voicemailmessages" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    voicemail
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Voice Mail Messages</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a voice mail message">
                </div>
            </div>
            <!-- / SEARCH -->

            <div fxLayout="row" fxLayoutAlign="end center">
                <!-- REFRESH BUTTON -->
                <button *ngIf="isExtensionSelected()" mat-icon-button class="refresh-button" (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <!-- / REFRESH BUTTON -->
                <mat-form-field class="topbar extension" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <mat-label>Extension</mat-label>
                    <mat-select placeholder="Extension" [(value)]="selectedExtension" (selectionChange)="refresh()">
                        <mat-option *ngFor="let extension of extensions" [value]="extension.id">
                            {{extension.baseExtension}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="voicemailmessages-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- Directory Column -->
                <ng-container matColumnDef="dir">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Directory</mat-header-cell>
                    <mat-cell *matCellDef="let voiceMailMessage">
                        <p class="text-truncate">{{voiceMailMessage.dir}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Msg Num Column -->
                <ng-container matColumnDef="msgNum">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Msg Num</mat-header-cell>
                    <mat-cell *matCellDef="let voiceMailMessage">
                        <p class="text-truncate">{{voiceMailMessage.msgNum}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Caller Id Column -->
                <ng-container matColumnDef="callerId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Caller Id</mat-header-cell>
                    <mat-cell *matCellDef="let voiceMailMessage">
                        <p class="text-truncate">{{voiceMailMessage.callerId}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Time Column -->
                <ng-container matColumnDef="origTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
                    <mat-cell *matCellDef="let voiceMailMessage">
                        <p class="text-truncate">{{voiceMailMessage.origTime}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Duration Column -->
                <ng-container matColumnDef="duration">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Duration</mat-header-cell>
                    <mat-cell *matCellDef="let voiceMailMessage">
                        <p class="text-truncate">{{voiceMailMessage.duration}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let voiceMailMessage">
                        <button mat-icon-button matTooltip="Play" class="play-message-button mat-button" (click)="$event.stopPropagation();play(voiceMailMessage.msgId)">
                            <mat-icon class="topbar play">play_arrow</mat-icon>
                        </button>
                        <button *ngIf="isPlaying(voiceMailMessage.msgId)" mat-icon-button matTooltip="Stop" class="pause-message-button mat-button" (click)="$event.stopPropagation();stopAudio()">
                            <mat-icon class="topbar stop">stop</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Download" class="download-message-button mat-button" (click)="$event.stopPropagation();download(voiceMailMessage.msgId)">
                            <mat-icon class="topbar download">cloud_download</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Call Back" class="callback-message-button mat-button" (click)="$event.stopPropagation();callback(voiceMailMessage.msgId)">
                            <mat-icon class="topbar callback">call</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Delete" class="delete-message-button mat-button" (click)="$event.stopPropagation();delete(voiceMailMessage.msgId)">
                            <mat-icon class="topbar delete">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let voiceMailMessage; columns: displayedColumns;" class="voicemailmessage" [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
