<div id="user" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/settings/users'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="avatar-container">
                    <img ngxGravatar [email]="user.email" class="avatar big" size="75" fallback="mm" round="false">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{user.firstName}} {{user.lastName}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New User
                    </div>
                    <div class="subtitle secondary-text">
                        <span>User Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="add-user-button mat-button" [disabled]="userForm.invalid" *ngIf="pageType ==='new'" (click)="addUser()">
                <mat-icon>add</mat-icon>
            </button>

            <div *ngIf="pageType ==='edit'">
                <button mat-raised-button class="save-user-button mat-button" color="primary" [disabled]="userForm.invalid || userForm.pristine" (click)="saveUser()">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-raised-button class="delete-user-button mat-button" color="warn" *ngIf="isSuperAdmin" (click)="deleteUser()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group>

                    <mat-tab label="Basic Info">

                        <div class="tab-content p-24" fusePerfectScrollbar>

                            <form name="userForm" [formGroup]="userForm" class="user w-100-p" fxLayout="column" fxFlex>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                                    <mat-label>Company</mat-label>
                                    <mat-select placeholder="Company" *ngIf="isSuperAdmin" formControlName="companyId" [(value)]="user.companyId" required>
                                        <mat-option *ngFor="let company of companies" [value]="company.id">
                                            {{company.companyName}}
                                        </mat-option>
                                    </mat-select>
                                    <input matInput *ngIf="!isSuperAdmin" placeholder="Company" name="companyName" formControlName="companyName">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" name="email" formControlName="email" required>
                                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                                    <mat-error *ngIf="f.email.errors?.required">
                                        Email is required!
                                    </mat-error>
                                    <mat-error *ngIf="f.email.errors?.email">
                                        Please enter a valid email address!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" fxFlex *ngIf="pageType ==='new'">
                                    <mat-label>Password</mat-label>
                                    <input #password name="password" formControlName="password" matInput required type="password">
                                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                                    <mat-hint align="end">{{password.value.length}}/8</mat-hint>
                                    <mat-error *ngIf="f.password.errors?.required">
                                        Password is required!
                                    </mat-error>
                                    <mat-error *ngIf="f.password.errors?.minlength">
                                        Password length must be atleast 8!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                                    <mat-label>Role</mat-label>
                                    <mat-select placeholder="User Role" formControlName="userRole" [(value)]="user.userRole" required>
                                        <mat-option *ngFor="let userRole of (userRoles | keys)" [value]="userRole.key">
                                            {{userRole.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div fxLayout="row" fxLayoutAlign="start start">
                                    <mat-form-field appearance="outline" floatLabel="always" class="pl-4" fxFlex="50">
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="First Name" name="firstName" formControlName="firstName" required>
                                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                        <mat-error *ngIf="f.firstName.errors?.required">
                                            First Name is required!
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" class="pl-4" fxFlex="50">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="Last Name" name="lastName" formControlName="lastName">
                                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="mat-checkbox" fxLayout="row" fxLayoutAlign="start start" *ngIf="pageType ==='edit'">
                                    <mat-checkbox name="enabled" formControlName="enabled">Enabled</mat-checkbox>
                                </div>

                                <div class="mat-checkbox" fxLayout="row" fxLayoutAlign="start start" *ngIf="pageType ==='edit'">
                                    <mat-checkbox name="locked" formControlName="locked">Locked</mat-checkbox>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                                    <mat-label>Time Zone</mat-label>
                                    <mat-select placeholder="Time Zone" formControlName="zoneId" [(value)]="user.zoneId" required>
                                        <mat-option *ngFor="let zoneId of (timeZones | keys)" [value]="zoneId.key">
                                            {{zoneId.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </form>
                        </div>

                    </mat-tab>

                    <mat-tab label="Security" *ngIf="pageType ==='edit'">

                        <div class="tab-content p-24" fusePerfectScrollbar>

                            <form name="passwordForm" [formGroup]="passwordForm" (ngSubmit)="updatePassword()" class="user w-100-p" fxLayout="row" fxLayoutAlign="start center">

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Password</mat-label>
                                    <input #newPassword name="newPassword" formControlName="newPassword" matInput required type="password">
                                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                                    <mat-hint align="end">{{newPassword.value.length}}/8</mat-hint>
                                    <mat-error *ngIf="p.newPassword.errors?.required">
                                        Password is required!
                                    </mat-error>
                                    <mat-error *ngIf="p.newPassword.errors?.minlength">
                                        Password length must be atleast 8!
                                    </mat-error>
                                </mat-form-field>

                                <button mat-raised-button class="change-password-button mat-button" color="accent" [disabled]="passwordForm.invalid">
                                    Change Password
                                </button>
                            </form>

                        </div>

                    </mat-tab>

                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
