<div id="queue" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/settings/queues'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{queue.queueId}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Queue
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Queue Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="add-queue-button mat-button" [disabled]="queueForm.invalid" *ngIf="pageType ==='new'" (click)="addQueue()">
                <mat-icon>add</mat-icon>
            </button>

            <div *ngIf="pageType ==='edit'">
                <button mat-raised-button class="save-queue-button mat-button" color="primary" [disabled]="queueForm.invalid || queueForm.pristine" (click)="saveQueue()">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-raised-button class="extension-button mat-button" matTooltip="Extension Settings" aria-label="Extension Settings" [routerLink]="'/settings/extensions/'+queue.extensionId">
                    <mat-icon>extension</mat-icon>
                </button>

                <button mat-raised-button class="delete-queue-button mat-button" color="warn" *ngIf="isSuperAdmin" (click)="deleteQueue()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                <form name="queueForm" [formGroup]="queueForm" class="queue w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group>
                        <mat-tab label="Basic Info">
                            <div class="tab-content p-24" fxLayout="column" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                                    <mat-label>Company</mat-label>
                                    <mat-select placeholder="Company" *ngIf="isSuperAdmin" (selectionChange)="getExtensions($event)" formControlName="companyId" [(value)]="queue.companyId" required>
                                        <mat-option *ngFor="let company of companies" [value]="company.id">
                                            {{company.companyName}}
                                        </mat-option>
                                    </mat-select>
                                    <input matInput *ngIf="!isSuperAdmin" placeholder="Company" name="companyName" formControlName="companyName" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                                    <mat-label>Extension</mat-label>
                                    <mat-select placeholder="Extension" formControlName="extensionId" [(value)]="queue.extensionId">
                                        <mat-option>Select an extension</mat-option>
                                        <mat-option *ngFor="let extension of extensions" [value]="extension.id">
                                            {{extension.baseExtension}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Queue Id</mat-label>
                                    <input matInput placeholder="Queue Id" name="queueId" formControlName="queueId" required>
                                    <mat-error *ngIf="f.queueId.errors?.required">
                                        Queue Id is required!
                                    </mat-error>
                                    <mat-error *ngIf="f.queueId.errors?.minLength">
                                        Queue Id minimum length 3!
                                    </mat-error>
                                    <mat-error *ngIf="f.queueId.errors?.pattern">
                                        Queue Id pattern is wrong!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Queue Name</mat-label>
                                    <input matInput placeholder="Queue Name" name="queueName" formControlName="queueName" required>
                                    <mat-error *ngIf="f.queueName.errors?.required">
                                        Queue Name is required!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" name="email" formControlName="email">
                                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                                    <mat-error *ngIf="f.email.errors?.email">
                                        Please enter a valid email address!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                                    <mat-label>Strategy</mat-label>
                                    <mat-select placeholder="Strategy" formControlName="strategy" [(value)]="queue.strategy">
                                        <mat-option>Select a strategy</mat-option>
                                        <mat-option *ngFor="let strategy of strategies" [value]="strategy">
                                            {{strategy}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Weight</mat-label>
                                    <input matInput placeholder="Weight" name="weight" formControlName="weight" type="number" required>
                                    <mat-error *ngIf="f.weight.errors?.required">
                                        Weight is required!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Service Level</mat-label>
                                    <input matInput placeholder="Service Level" name="serviceLevel" formControlName="serviceLevel" type="number" required>
                                    <mat-error *ngIf="f.serviceLevel.errors?.required">
                                        Service Level is required!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Max Length</mat-label>
                                    <input matInput placeholder="Max Length" name="maxLength" formControlName="maxLength" type="number" required>
                                    <mat-error *ngIf="f.maxLength.errors?.required">
                                        Max Length is required!
                                    </mat-error>
                                </mat-form-field>

                                <div class="mat-checkbox" fxLayout="row" fxLayoutAlign="start start">
                                    <mat-checkbox name="zeroEscapeEnabled" formControlName="zeroEscapeEnabled">Zero Escape</mat-checkbox>
                                </div>

                            </div>

                        </mat-tab>
                        <mat-tab label="Announcements" *ngIf="pageType ==='edit'">

                            <div class="tab-content p-24" fxLayout="column" fusePerfectScrollbar>

                                <div fxLayout="row" fxLayoutAlign="space-between center">

                                    <div class="w-100-p" fxLayout="row" fxLayoutAlign="start start">
                                        <mat-checkbox name="playInitialMessage" formControlName="playInitialMessage">Initial Message</mat-checkbox>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <button *ngIf="audioSource === null" mat-raised-button class="play-queue-initial-button mat-button" matTooltip="Play Initial" color="primary" (click)="playInitialMessage()">
                                            <mat-icon>play_arrow</mat-icon>
                                        </button>

                                        <button *ngIf="audioSource !== null" mat-raised-button class="pause-queue-initial-button mat-button" matTooltip="Pause Initial" color="primary" (click)="stopAudio()">
                                            <mat-icon>pause</mat-icon>
                                        </button>
                                        <div class="file-uploader">
                                            <input hidden type="file" #fileInitialInput accept="audio/*" (change)="uploadInitialMessage($event)" />
                                            <button mat-raised-button class="upload-queue-initial-button mat-button" matTooltip="Upload Initial Message" color="accent" (click)="fileInitialInput.click()">
                                                <mat-icon>cloud_upload</mat-icon>
                                            </button>
                                        </div>
                                        <button mat-raised-button class="download-queue-initial-button mat-button" matTooltip="Download Initial Message" color="primary" (click)="downloadInitialMessage()">
                                            <mat-icon>cloud_download</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="w-100-p" fxLayout="row" fxLayoutAlign="start start">
                                        <mat-checkbox name="playMusicOnHold" formControlName="playMusicOnHold">Music On Hold</mat-checkbox>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <button *ngIf="audioSource === null" mat-raised-button class="play-queue-moh-button mat-button" matTooltip="Play Music on hold" color="primary" (click)="playMusicOnHold()">
                                            <mat-icon>play_arrow</mat-icon>
                                        </button>

                                        <button *ngIf="audioSource !== null" mat-raised-button class="pause-queue-moh-button mat-button" matTooltip="Pause Music on hold" color="primary" (click)="stopAudio()">
                                            <mat-icon>pause</mat-icon>
                                        </button>
                                        <div class="file-uploader">
                                            <input hidden type="file" #fileMohInput accept="audio/*" (change)="uploadMusicOnHold($event)" />
                                            <button mat-raised-button class="upload-queue-moh-button mat-button" matTooltip="Upload Music on hold" color="accent" (click)="fileMohInput.click()">
                                                <mat-icon>cloud_upload</mat-icon>
                                            </button>
                                        </div>
                                        <button mat-raised-button class="download-queue-moh-button mat-button" matTooltip="Download Music on hold" color="primary" (click)="downloadMusicOnHold()">
                                            <mat-icon>cloud_download</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="w-100-p" fxLayout="row" fxLayoutAlign="start start">
                                        <mat-checkbox name="playComfortMessage" formControlName="playComfortMessage">Comfort Message</mat-checkbox>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <button *ngIf="audioSource === null" mat-raised-button class="play-queue-comfort-button mat-button" matTooltip="Play Comfort Message" color="primary" (click)="playComfortMessage()">
                                            <mat-icon>play_arrow</mat-icon>
                                        </button>

                                        <button *ngIf="audioSource !== null" mat-raised-button class="pause-queue-comfort-button mat-button" matTooltip="Pause Comfort Message" color="primary" (click)="stopAudio()">
                                            <mat-icon>pause</mat-icon>
                                        </button>
                                        <div class="file-uploader">
                                            <input hidden type="file" #fileComfortInput accept="audio/*" (change)="uploadComfortMessage($event)" />
                                            <button mat-raised-button class="upload-queue-comfort-button mat-button" matTooltip="Upload Comfort Message" color="accent" (click)="fileComfortInput.click()">
                                                <mat-icon>cloud_upload</mat-icon>
                                            </button>
                                        </div>
                                        <button mat-raised-button class="download-queue-comfort-button mat-button" matTooltip="Download Comfort Message" color="primary" (click)="downloadComfortMessage()">
                                            <mat-icon>cloud_download</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Comfort Message Interval</mat-label>
                                    <input matInput placeholder="Max Length" name="comfortMessageInterval" formControlName="comfortMessageInterval" type="number" required>
                                    <mat-error *ngIf="f.maxLength.errors?.required">
                                        Comfort Message Interval is required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
