<div id="systemlive" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    event_seat
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">System Live</span>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group>
                    <mat-tab label="Endpoints">

                        <mat-table class="systemlive-table" #channeltable [dataSource]="endpointDataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                            <!-- Caller ID Column -->
                            <ng-container matColumnDef="callerId">
                                <mat-header-cell *matHeaderCellDef>Caller Id</mat-header-cell>
                                <mat-cell *matCellDef="let endpoint">
                                    <p class="text-truncate">{{endpoint.callerId}}</p>
                                </mat-cell>
                            </ng-container>
                            <!-- ResourceColumn -->
                            <ng-container matColumnDef="resource">
                                <mat-header-cell *matHeaderCellDef>Resource</mat-header-cell>
                                <mat-cell *matCellDef="let endpoint">
                                    <p class="text-truncate">{{endpoint.resource}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- State Column -->
                            <ng-container matColumnDef="state">
                                <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
                                <mat-cell *matCellDef="let endpoint">
                                    <div *ngIf="endpoint.state === 'offline'" matTooltip="Endpoint: offline">
                                        <fa-icon class="topbar offline" icon="circle" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="endpoint.state === 'online'" matTooltip="Endpoint: online">
                                        <fa-icon class="topbar online" icon="circle" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="endpoint.state === 'unknown'" matTooltip="Endpoint: unknown">
                                        <fa-icon class="topbar" icon="circle" size="2x"></fa-icon>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- Peer Status Column -->
                            <ng-container matColumnDef="peerStatus">
                                <mat-header-cell *matHeaderCellDef>Peer Status</mat-header-cell>
                                <mat-cell *matCellDef="let endpoint">
                                    <p class="text-truncate">{{endpoint.peerStatus}}</p>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedEndpointColumns; sticky:true"></mat-header-row>

                            <mat-row *matRowDef="let endpoint; columns: displayedEndpointColumns;" class="endpoint">
                            </mat-row>
                        </mat-table>
                    </mat-tab>
                    <mat-tab label="Channels">
                        <mat-table class="systemlive-table" #channeltable [dataSource]="channelDataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                            <!-- Unique ID Column -->
                            <ng-container matColumnDef="uniqueID">
                                <mat-header-cell *matHeaderCellDef>Unique ID</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.uniqueID}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Caller Name Column -->
                            <ng-container matColumnDef="callerIdName">
                                <mat-header-cell *matHeaderCellDef>Caller Name</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.callerIdName}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Caller Number Column -->
                            <ng-container matColumnDef="callerIdNum">
                                <mat-header-cell *matHeaderCellDef>Caller Number</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.callerIdNum}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Destination Column -->
                            <ng-container matColumnDef="destination">
                                <mat-header-cell *matHeaderCellDef>Destination</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.destination}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Start Time Column -->
                            <ng-container matColumnDef="startTime">
                                <mat-header-cell *matHeaderCellDef>Start Time</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.startTime}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Duration Column -->
                            <ng-container matColumnDef="duration">
                                <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.duration}}</p>
                                </mat-cell>
                            </ng-container>

                            <!-- Direction Column -->
                            <ng-container matColumnDef="direction">
                                <mat-header-cell *matHeaderCellDef>Direction</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <div *ngIf="channelLive.direction=== 'Incoming'">
                                        <fa-icon icon="chevron-down" size="2x"></fa-icon>
                                    </div>
                                    <div *ngIf="channelLive.direction=== 'Outgoing'">
                                        <fa-icon icon="chevron-up" size="2x"></fa-icon>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- Call Type Column -->
                            <ng-container matColumnDef="callType">
                                <mat-header-cell *matHeaderCellDef>Call Type</mat-header-cell>
                                <mat-cell *matCellDef="let channelLive">
                                    <p class="text-truncate">{{channelLive.callType}}</p>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedChannelColumns; sticky:true"></mat-header-row>

                            <mat-row *matRowDef="let channelLive; columns: displayedChannelColumns;" class="channelLive">
                            </mat-row>
                        </mat-table>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
