<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/telefonix.svg">
            </div>

            <div class="title">RESET YOUR PASSWORD</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="f.email.errors?.required">
                        Email is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Token</mat-label>
                    <input matInput formControlName="token" required>
                    <mat-error *ngIf="f.token.errors?.required">
                        Token is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="newPassword" required>
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="f.newPassword.errors?.required">
                        Password is required!
                    </mat-error>
                    <mat-error *ngIf="f.newPassword.errors?.minlength">
                        Password length must be atleast 8!
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password (Confirm)</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" required>
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="f.confirmPassword.errors?.required">
                        Password is required!
                    </mat-error>
                    <mat-error *ngIf="f.confirmPassword.errors?.mustMatch">
                        Password does not match!
                    </mat-error>
                </mat-form-field>

                <div>
                    <button mat-raised-button class="submit-button mat-button" [disabled]="resetPasswordForm.invalid || resetPasswordForm.pristine" (click)="finishResetPassword()">
                        <span>RESET MY PASSWORD</span>
                    </button>

                    <button mat-raised-button class="submit-button mat-button" color="accent" (click)="initResetPassword()">
                        <span>RESEND RESET LINK</span>
                    </button>
                </div>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/auth/login'">Go back to login</a>
            </div>

        </div>

    </div>

</div>
