<div id="dashboard" class="page-layout blank">

    <div class="content">

        <div class="left mr-lg-32">

            <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        dashboard
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Extension Reports</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <!-- REFRESH BUTTON -->
                    <button *ngIf="isExtensionSelected()" mat-icon-button class="refresh-button" (click)="refresh()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    <!-- / REFRESH BUTTON -->
                    <mat-form-field class="topbar extension" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                        <mat-label>Extension</mat-label>
                        <mat-select placeholder="Extension" [(value)]="selected" (selectionChange)="getReports($event)">
                            <mat-option *ngFor="let extension of extensions" [value]="extension.id">
                                {{extension.baseExtension}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <canvas baseChart chartType="bar" legend="true" [plugins]="chartPlugins" [options]="barChartOptions" [datasets]="barChartData" [labels]="barChartLabels">
                        </canvas>
                    </div>
                </div>

                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <canvas baseChart chartType="line" legend="true" [datasets]="lineChartData" [labels]="lineChartLabels">
                        </canvas>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
