<div id="provider" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/settings/providers'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{provider.providerId}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Provider
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Provider Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="add-provider-button mat-button" [disabled]="providerForm.invalid" *ngIf="pageType ==='new'" (click)="addProvider()">
                <mat-icon>add</mat-icon>
            </button>

            <div *ngIf="pageType ==='edit'">
                <button mat-raised-button class="save-provider-button mat-button" color="primary" [disabled]="providerForm.invalid || providerForm.pristine" (click)="saveProvider()">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-raised-button class="delete-provider-button mat-button" color="warn" (click)="deleteProvider()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <div class="tab-content p-24" fusePerfectScrollbar>

                    <form name="providerForm" [formGroup]="providerForm" class="provider w-100-p" fxLayout="column" fxFlex>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Provider Id</mat-label>
                            <input matInput placeholder="Provider Id" name="providerId" formControlName="providerId" required>
                            <mat-error *ngIf="f.providerId.errors?.required">
                                Provider Id is required!
                            </mat-error>
                            <mat-error *ngIf="f.providerId.errors?.minLength">
                                Provider Id minimum length 3!
                            </mat-error>
                            <mat-error *ngIf="f.providerId.errors?.pattern">
                                Provider Id pattern is wrong!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Host</mat-label>
                            <input matInput placeholder="Host" name="host" formControlName="host" required>
                            <mat-error *ngIf="f.host.errors?.required">
                                Host is required!
                            </mat-error>
                            <mat-error *ngIf="f.host.errors?.pattern">
                                Invalid domain name!
                            </mat-error>
                        </mat-form-field>

                    </form>
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
