<div id="conference" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/settings/conferences'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{conference.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Conference
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Conference Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="add-conference-button mat-button" [disabled]="conferenceForm.invalid" *ngIf="pageType ==='new'" (click)="addConference()">
                <mat-icon>add</mat-icon>
            </button>

            <div *ngIf="pageType ==='edit'">
                <button mat-raised-button class="save-conference-button mat-button" color="primary" [disabled]="conferenceForm.invalid || conferenceForm.pristine" (click)="saveConference()">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-raised-button class="delete-conference-button mat-button" color="warn" *ngIf="isSuperAdmin" (click)="deleteConference()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <div class="tab-content p-24" fusePerfectScrollbar>

                    <form name="conferenceForm" [formGroup]="conferenceForm" class="conference w-100-p" fxLayout="column" fxFlex>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <mat-label>Company</mat-label>
                            <mat-select placeholder="Company" *ngIf="isSuperAdmin" (selectionChange)="getExtensions($event)" formControlName="companyId" [(value)]="conference.companyId" required>
                                <mat-option *ngFor="let company of companies" [value]="company.id">
                                    {{company.companyName}}
                                </mat-option>
                            </mat-select>
                            <input matInput *ngIf="!isSuperAdmin" placeholder="Company" name="companyName" formControlName="companyName" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Conference Name</mat-label>
                            <input matInput placeholder="Conference Name" name="name" formControlName="name" required>
                            <mat-error *ngIf="f.name.errors?.required">
                                Conference Name is required!
                            </mat-error>
                        </mat-form-field>

                        <div *ngIf="pageType ==='edit'">
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Leader Code</mat-label>
                                <input matInput placeholder="Leader Code" name="leaderCode" formControlName="leaderCode" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Participant Code</mat-label>
                                <input matInput placeholder="Participant Code" name="participantCode" formControlName="participantCode" required>
                            </mat-form-field>
                        </div>
                    </form>
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
