<div id="voicemail" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/settings/extensions/'+voiceMail.extensionId">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{voiceMail.baseExtension}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Voice Mail Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-voicemail-button mat-button" [disabled]="voiceMailForm.invalid || voiceMailForm.pristine" (click)="saveVoiceMail()">
                <mat-icon>save</mat-icon>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group>

                    <mat-tab label="Basic Info">

                        <div class="tab-content p-24" fusePerfectScrollbar>

                            <form name="voiceMailForm" [formGroup]="voiceMailForm" class="voicemail w-100-p" fxLayout="column" fxFlex>

                                <div class="mat-checkbox" fxLayout="row" fxLayoutAlign="start start">
                                    <mat-checkbox name="enabled" formControlName="enabled">Enabled</mat-checkbox>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Base Extension</mat-label>
                                    <input matInput placeholder="Base Extension" name="baseExtension" formControlName="baseExtension">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Full Name</mat-label>
                                    <input matInput placeholder="Full Name" name="fullName" formControlName="fullName">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" name="email" formControlName="email">
                                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                                    <mat-error *ngIf="f.email.errors?.email">
                                        Please enter a valid email address!
                                    </mat-error>
                                </mat-form-field>

                            </form>

                        </div>

                    </mat-tab>
                    <mat-tab label="Security" *ngIf="voiceMail.enabled">

                        <div class="tab-content p-24" fusePerfectScrollbar>

                            <form name="passwordForm" [formGroup]="passwordForm" (ngSubmit)="updatePassword()" class="user w-100-p" fxLayout="row" fxLayoutAlign="start center">

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Password</mat-label>
                                    <input #newPassword name="newPassword" formControlName="newPassword" matInput required type="number">
                                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                                    <mat-hint align="end">{{newPassword.value.length}}/5</mat-hint>
                                    <mat-error *ngIf="p.newPassword.errors?.required">
                                        Password is required!
                                    </mat-error>
                                    <mat-error *ngIf="p.newPassword.errors?.minlength">
                                        Password length must be atleast 5!
                                    </mat-error>
                                </mat-form-field>

                                <button mat-raised-button class="change-password-button mat-button" color="accent" [disabled]="passwordForm.invalid">
                                    Change Password
                                </button>
                            </form>

                        </div>

                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
