<div id="endpointlogs" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    history
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Endpoint Logs</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a endpoint log">
                </div>
            </div>
            <!-- / SEARCH -->

            <div fxLayout="row" fxLayoutAlign="end center">
                <!-- REFRESH BUTTON -->
                <button *ngIf="isAgentSelected()" mat-icon-button class="refresh-button" (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <!-- / REFRESH BUTTON -->
                <mat-form-field class="topbar agent" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <mat-label>Endpoint</mat-label>
                    <mat-select placeholder="Agent" [(value)]="selectedAgent" (selectionChange)="refresh()">
                        <mat-option *ngFor="let agent of agents" [value]="agent.id">
                            {{agent.fullName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field matTooltip="From Date" class="topbar date" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <input matInput [matDatepicker]="startPicker" placeholder="Start date" [formControl]="startDateControl" [min]="minStartDate" [max]="maxStartDate" (dateChange)="startDateChanged($event)">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker startView="month"></mat-datepicker>
                </mat-form-field>
                <mat-form-field matTooltip="To Date" class="topbar date" appearance="outline" floatLabel="always" [@animate]="{value:'*',params:{delay:'300ms'}}">
                    <input matInput [matDatepicker]="endPicker" placeholder="End date" [formControl]="endDateControl" [min]="minEndDate" [max]="maxEndDate" (dateChange)="endDateChanged($event)">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker startView="month"></mat-datepicker>
                </mat-form-field>
            </div>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="endpointlogs-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- Resource Column -->
                <ng-container matColumnDef="resource">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Resource</mat-header-cell>
                    <mat-cell *matCellDef="let endpointlog">
                        <p class="text-truncate">{{endpointlog.resource}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Date Time Column -->
                <ng-container matColumnDef="eventDateTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date Time</mat-header-cell>
                    <mat-cell *matCellDef="let endpointlog">
                        <p class="text-truncate">{{endpointlog.eventDateTime}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Endpoint Column -->
                <ng-container matColumnDef="endpointState">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Endpoint</mat-header-cell>
                    <mat-cell *matCellDef="let endpointlog">
                        <p class="text-truncate">{{endpointlog.endpointState}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Device Column -->
                <ng-container matColumnDef="deviceState">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Device</mat-header-cell>
                    <mat-cell *matCellDef="let endpointlog">
                        <p class="text-truncate">{{endpointlog.deviceState}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let endpointlog; columns: displayedColumns;" class="endpointlog" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
