<div id="phoneline" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/settings/phones/'+phoneId+'/lines'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{phoneLine.description}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Phone Line
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Phone Line Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="add-phoneline-button mat-button" [disabled]="phoneLineForm.invalid" *ngIf="pageType ==='new'" (click)="addPhoneLine()">
                <mat-icon>add</mat-icon>
            </button>

            <div *ngIf="pageType ==='edit'">
                <button mat-raised-button class="save-phoneline-button mat-button" color="primary" [disabled]="phoneLineForm.invalid || phoneLineForm.pristine" (click)="savePhoneLine()">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-raised-button class="delete-phoneline-button mat-button" color="warn" *ngIf="isSuperAdmin" (click)="deletePhoneLine()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <div class="tab-content p-24" fusePerfectScrollbar>

                    <form name="phoneLineForm" [formGroup]="phoneLineForm" class="phoneline w-100-p" fxLayout="column" fxFlex>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" *ngIf="pageType ==='edit'">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="Phone" name="phoneName" formControlName="phoneName" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Description</mat-label>
                            <input matInput placeholder="Description" name="description" formControlName="description" required>
                            <mat-error *ngIf="f.description.errors?.required">
                                Description is required!
                            </mat-error>
                            <mat-error *ngIf="f.description.errors?.minLength">
                                Description minimum length 5!
                            </mat-error>
                            <mat-error *ngIf="f.description.errors?.maxLength">
                                Description maximum length 50!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Caller Name</mat-label>
                            <input matInput placeholder="Caller Name" name="callerName" formControlName="callerName" required>
                            <mat-error *ngIf="f.callerName.errors?.required">
                                Caller Name is required!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <mat-label>Extension</mat-label>
                            <mat-select placeholder="Extension" formControlName="extensionId" [(value)]="phoneLine.extensionId">
                                <mat-option>Select an extension</mat-option>
                                <mat-option *ngFor="let extension of extensions" [value]="extension.id">
                                    {{extension.baseExtension}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" *ngIf="pageType ==='edit'">
                            <mat-label>Sip User Name</mat-label>
                            <input matInput placeholder="Sip User Name" name="sipUserName" formControlName="sipUserName">
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Sip Password</mat-label>
                            <input matInput placeholder="Sip Password" name="sipPassword" formControlName="sipPassword" required>
                            <mat-error *ngIf="f.sipPassword.errors?.required">
                                Sip Password is required!
                            </mat-error>
                            <mat-error *ngIf="f.sipPassword.errors?.pattern">
                                Sip Password pattern is wrong!
                            </mat-error>
                        </mat-form-field>

                        <div fxLayout="row" fxLayoutAlign="start start">
                            <mat-checkbox name="callWaitingEnabled" formControlName="callWaitingEnabled">Call Waiting Enabled</mat-checkbox>
                        </div>

                    </form>
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
