<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="{{applicationInfo.developerWeb}}" fxLayoutAlign="start center">
            <span>{{applicationInfo.activeProfile}} {{applicationInfo.applicationVersion}}</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="s-20 mr-sm-4">copyright</mat-icon>
            <a href="mailto:{{applicationInfo.developerEmail}}" fxLayoutAlign="start center">
                <span>{{applicationInfo.developerName}}</span>
            </a>
        </div>

    </div>

</mat-toolbar>
