<div id="extension" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/settings/extensions'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{extension.baseExtension}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Extension
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Extension Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="add-extension-button mat-button" [disabled]="extensionForm.invalid" *ngIf="pageType ==='new'" (click)="addExtension()">
                <mat-icon>add</mat-icon>
            </button>

            <div *ngIf="pageType ==='edit'">
                <button mat-raised-button class="save-extension-button mat-button" color="primary" [disabled]="extensionForm.invalid || extensionForm.pristine" (click)="saveExtension()">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-raised-button class="voicemail-button mat-button" matTooltip="Voice Mail Settings" aria-label="Voice Mail Settings" [routerLink]="'/settings/extensions/'+extension.id+'/voicemail/'+extension.voiceMailId">
                    <mat-icon>voicemail</mat-icon>
                </button>

                <button mat-raised-button class="delete-extension-button mat-button" color="warn" *ngIf="isSuperAdmin" (click)="deleteExtension()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <div class="tab-content p-24" fusePerfectScrollbar>

                    <form name="extensionForm" [formGroup]="extensionForm" class="extension w-100-p" fxLayout="column" fxFlex>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <mat-label>Company</mat-label>
                            <mat-select placeholder="Company" *ngIf="isSuperAdmin" (selectionChange)="getUsers($event)" formControlName="companyId" [(value)]="extension.companyId" required>
                                <mat-option *ngFor="let company of companies" [value]="company.id">
                                    {{company.companyName}}
                                </mat-option>
                            </mat-select>
                            <input matInput *ngIf="!isSuperAdmin" placeholder="Company" name="companyName" formControlName="companyName" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" fxFlex [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <mat-label>User</mat-label>
                            <mat-select *ngIf="!isUser" placeholder="User" formControlName="userId" [(value)]="extension.userId">
                                <mat-option>Select a user</mat-option>
                                <mat-option *ngFor="let user of users" [value]="user.id">
                                    {{user.firstName}} {{user.lastName}}
                                </mat-option>
                            </mat-select>
                            <input matInput *ngIf="isUser" placeholder="User" name="userName" formControlName="userName" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Base Extension</mat-label>
                            <input matInput placeholder="Base Extension" name="baseExtension" formControlName="baseExtension" required>
                            <mat-error *ngIf="f.baseExtension.errors?.required">
                                Base Extension is required!
                            </mat-error>
                            <mat-error *ngIf="f.baseExtension.errors?.pattern">
                                Base Extension is 2 digits!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Ring Duration</mat-label>
                            <input matInput type="number" placeholder="Ring Duration" name="ringDuration" formControlName="ringDuration" required>
                            <mat-error *ngIf="f.ringDuration.errors?.required">
                                Ring Duration is required!
                            </mat-error>
                            <mat-error *ngIf="f.ringDuration.errors?.min">
                                Ring Duration min 6!
                            </mat-error>
                            <mat-error *ngIf="f.ringDuration.errors?.max">
                                Ring Duration max 99!
                            </mat-error>
                        </mat-form-field>

                    </form>
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
