<div id="phonelines" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/settings/phones/'+phoneId">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    list
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Phone Lines</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a phone line">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'./new'" *ngIf="isSuperAdmin" class="add-phoneline-button fuse-white mt-24 mt-md-0">
                <mat-icon>add</mat-icon>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="phonelines-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let phoneline">
                        <p class="text-truncate">{{phoneline.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                    <mat-cell *matCellDef="let phoneline">
                        <p class="text-truncate">{{phoneline.description}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Extension Column -->
                <ng-container matColumnDef="baseExtension">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Extension</mat-header-cell>
                    <mat-cell *matCellDef="let phoneline">
                        <p class="text-truncate">{{phoneline.baseExtension}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Caller Name Column -->
                <ng-container matColumnDef="callerName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Caller Name</mat-header-cell>
                    <mat-cell *matCellDef="let phoneline">
                        <p class="text-truncate">{{phoneline.callerName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- SIP Line Column -->
                <ng-container matColumnDef="sipUserName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>SIP Line</mat-header-cell>
                    <mat-cell *matCellDef="let phoneline">
                        <p class="text-truncate">{{phoneline.sipUserName}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let phoneline; columns: displayedColumns;" class="phoneline" matRipple [routerLink]="'/settings/phones/'+phoneline.phoneId+'/lines/'+phoneline.id" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
